<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="org.hongxi.whatsmars.boot.sample.datasource.model.User" alias="User" />
    </typeAliases>

    <mappers>
        <mapper resource="mapper/UserMapper.xml"/>

    </mappers>

</configuration>
