#set($title = "账户管理－帮助中心－学好贷")
#set($vmHeader = "common")
#set($help="help")
#set($navTab="manage")
<div class="container">
    <div class="help">
        <div class="wraper">
            <h2 class="mm">
            	<span>
            		<a href="#login" class="cur">注册登陆</a>
            		<a href="#pwd">账户密码</a>
            		<a href="#safe">安全认证</a>
            	</span>
                帐户管理</h2>
            <ul>
                <li><h3><a name="login">注册登陆</a></h3>
                    <dl class="cur">
                        <dt>1、Q:如何注册？</dt>
                        <dd>A:在学好贷网站首页登陆框旁选择立即注册并填写相关资料即可。</dd>
                    </dl>
                    <dl>
                        <dt>2、Q:注册时，进行手机验证，收不到短信怎么办？</dt>
                        <dd>A:请确认手机是否安装短信拦截或过滤软件； </dd>
                        <dd>B:请确认手机是否能够正常接收短信（信号问题、欠费、停机等）； </dd>
                        <dd>C:短信收发过程中可能会存在延迟，请耐心等待，短信在20分钟内均有效； </dd>
                        <dd>D:您还可以联系客服，寻求帮助（400-018-0670）。</dd>
                    </dl>
                    <dl>
                        <dt>3、Q:可在平台注册两个账户吗？</dt>
                        <dd>A:不可以，注册后涉及实名认证，为了保障您的账户安全，一个实名信息只能认证一个账号。</dd>
                    </dl>
                </li>
                <li><h3><a name="pwd">账户密码</a></h3>
                    <dl>
                        <dt>1、Q:学好贷账户的密码都有哪些？</dt>
                        <dd>A:登录密码：登录学好贷平台，需要输入的密码。 </dd>
                        <dd>B:交易密码：进行资金支付交易时需要输入的密码。</dd>
                    </dl>
                    <dl>
                        <dt>2、Q:如何修改登录密码？</dt>
                        <dd>A:学好贷登录页面点击【忘记密码】进入忘记密码页面，输入手机号和验证码进行密码重置。</dd>
                    </dl>
                    <dl>
                        <dt>3、Q:如何找回登录密码？</dt>
                        <dd>A:登录学好贷，打开【我的账户】--【安全设置】--【交易密码修改】页面，点击“手机找回交易密码”。</dd>
                    </dl>
                    <dl>
                        <dt>4、Q:如何修改交易密码？</dt>
                        <dd>A:登录后，打开【我的账户】--【安全设置】，找到【交易密码修改】信息栏，点击【修改】，重置支付密码。</dd>
                    </dl>
                    <dl>
                        <dt>5、Q:如何通过手机号找回交易密码？</dt>
                        <dd>A:登录学好贷。打开【我的账户】--【安全设置】--【交易密码修改】--手机找回交易密码，通过绑定手机号和身份证号找回并重置交易密码。</dd>
                    </dl>
                </li>
                <li><h3><a name="safe">安全认证</a></h3>
                    <dl>
                        <dt>1、Q:为什么要进行安全认证？</dt>
                        <dd>A:为了保障用户资金的安全性和合同的有效性，学好贷要求所有投资人及借款人必须通过身份证绑定、手机号绑定以及交易密码设置。安全认证的过程简单便捷，学好贷对于所有个人资料均作严格保密。</dd>
                    </dl>
                    <dl>
                        <dt>2、Q:如何进行实名认证？</dt>
                        <dd>A: 用户可以在【注册成功】页面进行实名认证； </dd>
                        <dd>B:  用户可以打开【我的账户】--【安全设置】页面，在【实名认证】信息栏，点击【申请】，输入姓名和身份证号，进行实名认证。 </dd>
                    </dl>
                    <dl>
                        <dt>3、Q:如何修改绑定手机号？</dt>
                        <dd>A:目前不提供修改绑定手机号功能，如有需求，请联系客服(400-018-0670)。</dd>
                    </dl>
                    <dl>
                        <dt>4、Q:如何更换绑定邮箱？</dt>
                        <dd>A:目前不提供修改绑定邮箱功能，如有需求，请联系客服(400-018-0670)。</dd>
                    </dl>

                </li>
            </ul>
        </div>
    </div>
</div>
