#set($title = "安全保障 - 学好贷")
#set($vmHeader = "common")
#set($tab = "guarantee")

<div style="background:#f4f4f4;" class="line">
<div id="primary">
    <ul>
        <li>
            <h1>安全保障</h1>
            <a class="anchor1" href="#info">安全保障</a>
        </li>
        <li>
            <h1>机构严格准入</h1>
            <a class="anchor2" href="#pic1">机构严格准入</a>
        </li>
        <li>
            <h1>精选优质借款</h1>
            <a class="anchor3" href="#pic2">精选优质借款</a>
        </li>
        <li>
            <h1>严控资金流向</h1>
            <a class="anchor4" href="#pic3">严控资金流向</a>
        </li>
        <li>
            <h1>全流程严密风控</h1>
            <a class="anchor5" href="#pic4">全流程严密风控</a>
        </li>
        <li>
            <h1>机构风险保证金</h1>
            <a class="anchor6" href="#pic5">机构风险保证金</a>
        </li>
        <li>
            <h1>本息保障有力</h1>
            <a class="anchor7" href="#pic6">本息保障有力</a>
        </li>
    </ul>
</div>
<div class="conboxs info" id="info">
    <em></em>
    <div class="heightlight"></div>
    <div class="shield"></div>
    <div class="txt">
        <p>学好贷是中国最专业的教育垂直领域信用借贷服务平台之一，专注于给在校大学生、工作早期的年轻人群体提供接受职业教育、专业培训、技能提升课程所需的学习相关费用的解决方案。</p>
        <p>学好贷通过互联网平台连接投资人与学生群体，帮助学生解决学习过程中的资金需求，使他们通过专业培训获得更强的职业竞争力，从而提升他们的人生轨迹。投资人在帮助学生努力进取的同时获得安全、稳定、可观的投资回报。</p>
    </div>
</div>
<div class="wrap pic1" id="pic1">
    <div class="conboxs">
        <div class="box">
            <em></em>
            <h5><span>机构严格准入</span></h5>
            <p>合作机构均经过具有十年以上专业经验的学好贷风控与教育专家团队线下严格审核、筛选和评级。</p>
        </div>
    </div>
</div>
<div class="wrap pic2" id="pic2">
    <div class="conboxs">
        <div class="box">
            <em></em>
            <h5><span>精选优质借款</span></h5>
            <p>借款人均为上进的年轻自然人，借款额度小，学习培训后就业有保障，还款能力强，还款意愿高。</p>
        </div>
    </div>
</div>
<div class="wrap pic3" id="pic3">
    <div class="conboxs">
        <div class="box">
            <em></em>
            <h5><span>严控资金流向</span></h5>
            <p>出借款项经借款人账户后立即转账到教育机构指定账户，杜绝骗贷用于其他目的。</p>
        </div>
    </div>
</div>
<div class="wrap pic4" id="pic4">
    <div class="conboxs">
        <div class="box">
            <em></em>
            <h5><span>全流程严密风控</span></h5>
            <p>所有借款资料经过教育机构与学好贷双重审核认证，学好贷将与教育机构及专业催收团队共同对借款进行贷中跟踪监控和贷后管理催收。</p>
        </div>
    </div>
</div>
<div class="wrap pic5" id="pic5">
    <div class="conboxs">
        <div class="box">
            <em></em>
            <h5><span>机构风险保证金</span></h5>
            <p>学好贷将根据对教育机构的风险评级，就每一笔借款要求教育机构缴纳相应的风险保证金。学好贷将实时监控和动态调整风险保证金缴纳比例。</p>
        </div>
    </div>
</div>
<div class="wrap pic6" id="pic6">
    <div class="conboxs">
        <div class="box">
            <em></em>
            <h5><span>本息保障有力</span></h5>
            <p>在借款人未按时还款的情况下，学好贷将按规则用教育机构的风险保证金先行给投资人垫付当期应收到的本息。</p>
        </div>
    </div>
</div>
<div id="parallax">
    <img width="70" height="70" alt="" src="/images/star.png" class="pic" id="star1">
    <img width="70" height="70" alt="" src="/images/star.png" class="pic" id="star2">
    <img width="62" height="107" alt="" src="/images/rocket.png" class="pic" id="rocket">
    <img width="70" height="70" alt="" src="/images/star.png" class="pic" id="star3">
    <img width="70" height="70" alt="" src="/images/star.png" class="pic" id="star4">
    <img width="70" height="70" alt="" src="/images/star.png" class="pic" id="star5">
    <img width="70" height="70" alt="" src="/images/star.png" class="pic" id="star6">
    <img width="70" height="70" alt="" src="/images/star.png" class="pic" id="star7">
</div>
</div>

<script type="text/javascript">
    //<![CDATA[

    $(function(){
        redrawDotNav();
        $(window).bind('scroll',function(e){
            parallaxScroll();
            redrawDotNav();
        });

        $('a.anchor1').click(function(){
            $('html, body').animate({
                scrollTop:$('#info').offset().top
            }, 1000, function() {
                parallaxScroll();
            });
            return false;
        });
        $('a.anchor2').click(function(){
            $('html, body').animate({
                scrollTop:$('#pic1').offset().top
            }, 1000, function() {
                parallaxScroll();
            });
            return false;
        });
        $('a.anchor3').click(function(){
            $('html, body').animate({
                scrollTop:$('#pic2').offset().top
            }, 1000, function() {
                parallaxScroll();
            });
            return false;
        });
        $('a.anchor4').click(function(){
            $('html, body').animate({
                scrollTop:$('#pic3').offset().top
            }, 1000, function() {
                parallaxScroll();
            });
            return false;
        });
        $('a.anchor5').click(function(){
            $('html, body').animate({
                scrollTop:$('#pic4').offset().top
            }, 1000, function() {
                parallaxScroll();
            });
            return false;
        });
        $('a.anchor6').click(function(){
            $('html, body').animate({
                scrollTop:$('#pic5').offset().top
            }, 1000, function() {
                parallaxScroll();
            });
            return false;
        });
        $('#primary a').hover(
                function () {
                    $(this).prev('h1').show();
                },
                function () {
                    $(this).prev('h1').hide();
                }
        );

    });

    function parallaxScroll(){
        var scrolled = $(window).scrollTop();
        $('#parallax').css('top',(0-(scrolled*1.5))+'px');
    }

    function redrawDotNav(){
        var sectionTop =  0;
        var section1Top =  $('#info').offset().top - (($('#pic1').offset().top - $('#info').offset().top) / 2);
        var section2Top =  $('#pic1').offset().top - (($('#pic2').offset().top - $('#pic1').offset().top) / 2);
        var section3Top =  $('#pic2').offset().top - (( $('#pic3').offset().top - $('#pic2').offset().top) / 2);
        var section4Top =  $('#pic3').offset().top - (($('#pic4').offset().top - $('#pic3').offset().top) / 2);
        var section5Top =  $('#pic4').offset().top - (($('#pic5').offset().top - $('#pic4').offset().top) / 2);
        var section6Top =  $('#pic5').offset().top - (($('#pic6').offset().top - $('#pic5').offset().top) / 2);
        var section7Top =  $('#pic6').offset().top - (($(document).height() - $('#pic6').offset().top) / 2);
        $('#primary a').removeClass('active');
        if($(document).scrollTop() >= section1Top && $(document).scrollTop() < section2Top){
            $('.anchor1').addClass('active');
        }else if($(document).scrollTop() >= section2Top && $(document).scrollTop() < section3Top){
            $('.anchor2').addClass('active');
        } else if ($(document).scrollTop() >= section3Top && $(document).scrollTop() < section4Top){
            $('.anchor3').addClass('active');
        } else if ($(document).scrollTop() >= section4Top && $(document).scrollTop() < section5Top){
            $('.anchor4').addClass('active');
        } else if ($(document).scrollTop() >= section5Top && $(document).scrollTop() < section6Top){
            $('.anchor5').addClass('active');
        }else if ($(document).scrollTop() >= section6Top && $(document).scrollTop() < section7Top){
            $('.anchor6').addClass('active');
        }else{
            $('.anchor7').addClass('active');
        }
    }


    //]]>
</script>
</div>