#set($title = "法律政策 - 学好贷")
#set($vmHeader = "common")
#set($tab = "about")
#set($misc = "misc")
#set($navTab = "law")

<div class="container">
    <div class="aboutus">
        <div class="wraper">
            <h2>法律政策</h2>
            <div class="policy">
                <h3>学好贷平台提供居间撮合服务的合法性</h3>
                <p>根据《合同法》第23章关于“居间合同”的规定，特别是第424条规定的“居间合同是居间人向委托人报告订立合同的机会或者提供订立合同的媒介服务，委托人支付报酬的合同”，学好贷平台作为合法设立的中介服务机构，为民间借贷提供撮合，使借贷双方形成借贷关系并收取相关报酬的居间服务有着明确的法律基础。学好贷用创新的技术和理念建立了一个安全、诚信、高效的网络信息咨询服务平台，改进了原始民间借贷存在的弊端，规范了个人借贷行为，让借入者和借出者都可以从中获益。学好贷既不吸储，也不放贷，作为一个网络信用管理及借贷服务中介机构，我们致力于打造绿色网络借贷平台，使民间借贷更加简便、规范和透明化。</p>
                <h3>投资人及借款人双方民间借贷关系的合法性</h3>
                <p>根据《合同法》第196条规定“借款合同是借款人向贷款人借款，到期返还借款并支付利息的合同”，《合同法》允许自然人等普通民事主体之间发生借贷关系，并允许出借方到期可以收回本金和符合法律规定的利息。最高人民法院《关于人民法院审理借贷案件的若干意见》第6条："民间借贷的利率可以适当高于银行的利率，各地人民法院可以根据本地区的实际情况具体掌握，但最高不得超过银行同类贷款利率的四倍，（包含利率本款）。超出此限度的，超出部分的利息不予保护"。由央行起草的《放贷人条例》草案已经提交国务院法制办，"民间借贷"正在国家立法层面得到确认。</p>
                <h3>投资人通过学好贷获得的投资理财收益的合法性</h3>
                <p>投资人通过学好贷获得的投资理财收益的合法性根据最高人民法院《关于人民法院审理借贷案件的若干意见》第6条：“民间借贷的利率可以适当高于银行的利率，各地人民法院可以根据本地区的实际情况具体掌握，但最高不得超过银行同类贷款利率的四倍（包含利率本数）。超出此限度的，超出部分的利息不予保护。”学好贷的投资理财收益未超过银行同类贷款利率的四倍，为合法利息收益，受到法律保护。</p>
                <h3>电子合同的合法性</h3>
                <p>根据《合同法》和《电子签名法》的规定，当事人可以采用合同书、信件和数据电文（包括电报、电传、传真、电子数据交换和电子邮件）等形式订立合同，并通过以电子形式所含、所附用于识别签名人身份并表明签名人认可其中内容的数据电文等电子签名方式进行签署，当事人不能仅因合同采用电子签名、数据电文的形式就否定其法律效力。</p>
            </div>
        </div>
    </div>
</div>
