#set($title = "帮助中心 － 学好贷")
#set($vmHeader = "common")
#set($help="help")
<div class="container">
    <div class="help">
        <div class="wraper">
            <h2 class="mm">
            	<span>
            		<a href="#rate">资费与收益</a>
            		<a href="#product">产品介绍</a>
            		<a href="#lay_out">如何投资</a>
            	</span>
                投资人帮助</h2>
            <ul>
                <li><h3><a name="lay_out">如何投资</a></h3>
                    <dl class="cur">
                        <dt>1、Q:学好贷如何实现投资理财？</dt>
                        <dd>学好贷的投资者，其资金主要用于借款人在大型教育培训机构进行技能培训所缴纳的费用，借款人根据约定向投资人支付利息作为其收益。此类人群上进心强，学成就业后具有较强还款能力，且大型教育培训机构参与其中，使得借款人信用度高，能及时还款以保障投资人资金安全。</dd>
                    </dl>
                    <dl>
                        <dt>2、Q:怎样进行投资理财？</dt>
                        <dd>
                            1. 在学好贷注册并完成实名认证、绑定银行卡；<br/>
                            2. 向学好贷账户充值；<br/>
                            3. 在“我要投资”页面选择感兴趣的投资项目；<br/>
                            4. 确认投资，坐等收益。
                        </dd>
                    </dl>
                    <dl>
                        <dt>3、Q:怎样确认投资成功？</dt>
                        <dd>
                            1、选择投资项目并确认支付<br>
                            2、所投项目满标并显示还款中
                        </dd>
                    </dl>
                    <dl>
                        <dt>4、Q:投资期限是多久？</dt>
                        <dd>
                            您可以自由选择6-24个月不同期限的借款项目进行投资
                        </dd>
                    </dl>
                    <dl>
                        <dt>5、Q:获取的收益在什么地方？</dt>
                        <dd>
                            投资人每月获得的偿还金额将划拨到投资人在学好贷的个人账户里，投资人可自行将其提现到指定的银行卡账户里。
                        </dd>
                    </dl>
                </li>
                <li><h3><a name="product">产品介绍</a></h3>
                    <dl>
                        <dt>1、Q:学好贷的投资理财产品是什么？</dt>
                        <dd>借款人在与学好贷合作的大型培训机构报名进行技能培训时，针对培训费在学好贷发布借款项目，供投资人进行投资并付给投资人相应利息。期限为6-24个月，还款方式为：第一阶段只还利息，第二阶段等额本息。
                        </dd>
                    </dl>
                    <dl>
                        <dt>2、Q:为什么还款还分两阶段，第一阶段只还利息，第二阶段等额本息？</dt>
                        <dd>
                            1、    此举给了借款人一定的缓冲期，让他们前期专注学习技能，成长为更优秀更具还款能力的借款人。<br>

                            2、    另一方面，此还款方式与纯粹等额本息方式相比，由于前期不还本金，全额本金计息时间更长，产生收益更多。
                        </dd>
                    </dl>
                    <dl>
                        <dt>3、Q:什么是等额本息？</dt>
                        <dd>
                            等额本息是每月偿还同等金额(包括本金和利息)给投资人。借款人每月还款额中的本金比重逐月递增、利息比重逐月递减。
                            计算公式如下：<br>
                            <img src="/images/12212.png" alt=""><br>

                            P : 每月还款额<br>

                            A : 借款本金<br>

                            b : 月利率<br>

                            n : 还款总期数<br>

                            因计算中存在四舍五入，最后一期还款金额与之前略有不同。

                        </dd>
                    </dl>
                </li>
                <li><h3><a name="rate">资费与收益</a></h3>
                    <dl>
                        <dt>1、Q:充值费用？</dt>
                        <dd>当前用户充值的费用由平台代缴，投资人不需支付充值费用。
                        </dd>
                    </dl>
                    <dl>
                        <dt>2、Q:提现费用？</dt>
                        <dd>充值15天以内提现的，收取提现金额0.2%的手续费（最低2元）。充值15天以后提现由第三方支付公司收取2元/笔的手续费。<br>
                            若当日0：00-16：00申请提现，一般2个工作日内即可到账；<br>
                            若当日其余时间申请提现，一般3个工作日内即可到账。
                        </dd>
                    </dl>
                    <dl>
                        <dt>3、Q:平台服务费用？</dt>
                        <dd>学好贷不对投资人收取任何平台服务费用。</dd>
                    </dl>
                    <dl>
                        <dt>4、Q:借款人提前还款怎么办？</dt>
                        <dd>借款人若提前还款，投资人除了获得当期本息与剩余本金外，还可获得剩余本金1.5%的提前还款罚息。</dd>
                    </dl>
                    <dl>
                        <dt>5、Q:借款人逾期怎么办？</dt>
                        <dd>借款人发生逾期后，学好贷在次日通过教育机构缴纳的风险保证金向投资人垫付当期本息。</dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
</div>