#set($title = "最新公告 - 学好贷")
#set($vmHeader = "common")
#set($tab = "about")
#set($misc = "misc")
#set($navTab = "notices")

<div class="container">
        <div class="wraper wraper_border">
            <div class="notice_main">
                <h2 class="">$!article.title</h2>
                <p>来源：学好贷&ensp;&ensp;&ensp;&ensp;     发布时间：$!dateFormatUtils.format($!article.created,"yyyy-MM-dd HH:mm:ss")</p>
            </div>
            <div class="notice_p">$!article.content</div>
        </div>
</div>