#set($title = "最新公告 - 学好贷")
#set($vmHeader = "common")
#set($tab = "about")
#set($misc = "misc")
#set($navTab = "notices")

<div class="container">
    <div class="aboutus">
        <div class="wraper">
            <h2>最新公告</h2>
            <ul class="report">
                #foreach ($article in $!articles)
                    <li>
                        <dl>
                            <dd style="width: 1090px;"><h5><a href="/misc/notice_detail.jhtml?notice_id=$!article.id">$!article.title</a></h5>
                                <p>$!article.summary</p>
                                <div class="b"><a href="/misc/notice_detail.jhtml?notice_id=$!article.id">查看详情></a>来源：学好贷</div></dd>
                        </dl>
                    </li>
                #end
            </ul>
        </div>
    </div>
</div>