#set($layout = "layout/blank.vm")
#set($title = '投资人服务协议')

<div class="w900" style="margin:0 auto;">
    <div class="header_top">
        <img src="../images/dddfd_06.png">
    </div>
    <div class="pro_main">
        <div class="pro_main_txt">
            <div class="W400">
                <h1 class="txt_title">《学好贷网站服务协议》</h1>
            </div>
            <p>
                本网站由北京学好贷信息技术有限公司(以下简称“本网站”,均指网站及北 京学好贷信息技术有限公司)负责运营。本网站(www.xuehaodai.com)依据本 服务协议的规定为本网站的注册会员(以下简称“会员”)提供服务。 本网站在此特别提醒您认真阅读、充分理解本协议以下各条款,特别是其中 所涉及的免除及限制本网站责任的条款、对会员权利限制的条款等。请您审慎阅 读并选择接受或不接受本协议。
            </p>
            <div>
                <h2>第一条 本协议的签署和修订</h2>
                <div>
                    在使用本网站服务前,您必须先注册成为本网站会员,已充分阅读、理解并 接受本协议的全部内容,一旦您使用本网站提供的任何一项服务,即表示您同意 遵循本协议之所有约定:
                    <p>(一)本网站服务仅向符合中华人民共和国法律规定的具有完全民事权利和民事 行为能力,能够独立承担民事责任的自然人、法人或者其他组织提供。如您不符 合资格,请勿注册,否则本网站有权随时中止或终止您的用户资格。</p>
                    <p>(二)您必须依本网站注册表的提示提供您真实、最新、有效及完整的资料。</p>
                    <p>(三)您有义务维持并立即更新您的“会员资料”,确保其真实、最新、有效及 完整。 若您提供任何错误、虚假、过时或不完整的资料,或者本网站有合理的 理由怀疑资料错误、虚假、过时或不完整,本网站有权暂停或终止您的会员账户, 并拒绝您使用本网站服务的部分或全部功能。在此情况下,本网站不承担任何责 任,并且您同意自行负担因此所产生的直接或间接的任何支出或损失。</p>
                    <p> (四)若因您未及时更新基本资料,导致本网站无法提供服务或提供服务时发生 任何错误,您不得将此作为取消交易或拒绝付款的理由,本网站亦不承担任何责 任,所有后果应由您承担。</P>
                    <p> (五)本协议内容包括以下条款及本网站已经发布的或将来可能发布的各类规则, 您同意本网站使用电子方式通知您。电子方式包括但不限于本网站或者合作网站 上公布、以电子邮件(以您注册时留存的为准)方式、或无线通讯装置通知等其 中任一方式。您同意,本网站以电子方式发出前述通知之日视为通知已送达。因 信息传输等原因导致您未在前述通知发出当日收到该等通知的,本网站不承担责 任。 您同意本网站有权随时对本协议内容进行单方面的变更,并以在本网站的站 务公告区予以公布,无需另行单独通知;若您在本协议内容公告变更后继续使用
                        本网站提供的任何一项服务,即表示您已充分阅读、理解并接受修改后的协议内 容,也将遵循修改后的协议内容使用本网站提供的有关服务;若您不同意修改后 的协议内容,应停止使用本网站提供的有关服务。
                    </p>
                </div>
            </div>
            <div>
                <h2>第二条 本网站服务的使用</h2>
                <div>
                    <p>(一)本网站提供的服务包括但不限于:查阅交易机会、发布交易需求、签订和 查阅合同、资金充值/提现、代收代付、信息订制、交易记账等,具体详情以本网 站当时提供的服务内容为准。</p>
                    <p>(二)基于运行和交易安全的需要,本网站可以暂时停止提供、限制或改变本网 站服务部分功能,或提供新的功能。在任何功能减少、增加或者变化时,只要您
                        仍然使用本网站服务,表示您仍然同意本协议或者变更后的协议。</p>
                    <p>(三)您确认,您在本网站上按本网站服务流程所确认的交易状态将成为本网站 为您进行相关交易或操作(包括但不限于支付或收取款项、冻结资金、订立合同 等)的明确的指令。您同意本网站有权按相关指令依据本协议及/或本网站有关 文件和规则对相关事项进行处理。 </p>
                    <p>(四)您未能及时对交易状态进行修改或确认或未能提交相关申请所引起的任何 纠纷或损失由您本人负责,本网站不承担任何责任。</p>
                </div>
            </div>
            <div>
                <h2>第三条 交易的服务、管理及费用</h2>
                <p>(一)本网站旨在为用户提供促成用户与本网站其他用户达成交易的居间服务、 交易信息发布、交易管理等,具体以学好贷提供的服务内容为准。</p>
                <p>(二)用户通过本网站居间服务与其他用户达成的所有资金交易,均通过第三方 支付机构或银行实现存放和转移,本网站不存放任何交易资金。</p>
                <p>(三)在您成功注册后,您可以自行或授权您的代理人根据本网站有关规则和说 明,通过本网站发布资金需求,并通过本网站确认签署有关协议以实现借款需求 或资金的出借(出借方式包括但不限于向借款人直接出借或受让债权等形式)。 详细操作规则及方式请见有关协议及本网站相关规则和说明。</p>
                <p>(四)本网站将为您的借款、还款或资金的出借、回收等交易提供服务,并在服 务过程中根据有关文件、协议和/或本网站页面的相关规则、说明等收取必要的 服务或管理费用,其具体内容、比例、金额等事项请参见有关文件及本网站相关 页面的规则和说明(包括但不限于,就您每一笔成功转让的债权,本网站有权基 于您所转让债权的金额向您收取一定比例的转让管理费等款项作为服务费用,具 体比例及金额等请参见本网站的债权转让相关规则和说明)。您同意,本网站有 权不时调整前述服务或管理费用的类型或金额等具体事项并根据本协议和相关 规则进行公告、修改。</p>
                <p>(五)您在使用本网站服务过程中,可能需要向第三方(如银行或第三方支付机 构等)支付一定的费用,具体收费标准详见第三方网站相关页面,或本网站的提 示。</p>
                <p>(六)您理解并同意,因本网站服务向全部符合条件的会员开放,或者借款人发 出的借款要约需要出借人的确认,或者其他原因,本网站无法也没有义务保证您 在发出借款要约或产品购买要约后,能够实际提供借款或购买到产品,本网站对 此不承担任何责任。因前述原因未能提供和/或获得借款以及购买到产品而遭致 的损失(包括但不限于利息、手续费等损失)或责任,由您自行承担,本网站不 承担责任。</p>
                <p>(七)您通过本网站进行各项交易或接受交易款项时,若您或交易对方会员或投 资类产品发行方未遵从本服务条款或本网站仅存的交易规则中的操作指示,本网 站并不保证交易会顺利完成,本网站不因上述原因承担任何责任。若发生上述款 项已先行拨入您或他人的会员账户下,您同意本网站有权直接自相关账户余额中 扣回款项及禁止您要求支付此笔款项之权利。此款项若已汇入您的银行账户,您 同意本网站有向您事后索回的权利,您应当承担本网站合理的追索费用(包括但 不限于诉讼费、律师费)。</p>
                <p>(八)您同意,本网站有权在提供服务过程中通过电子邮件或其他方式投放商业 性广告或其他商业信息。</p>
                <p>(九)本网站不时以本网站公告的方式发布有关营销活动,您同意接受相关的营销条款。</p>
            </div>
            <div>
                <h2>第四条 资金交易管理服务</h2>
                <p>(一)就您在本网站进行的借款或出借,本网站和/或本网站委托的第三方支付 机构将为您提供“资金交易管理服务”,主要包括但不限于:资金的充值、提现、 代收、代付、查询等。您可以通过本网站有关页面的具体规则或说明详细了解。</p>
                <p>(二)您了解,上述充值、提现、代收、代付以及查询等服务涉及本网站与第三 方支付机构或金融机构的合作。您同意:<br>
                    1、受第三方支付机构或金融机构可能 仅在工作日进行资金代扣及划转的现状等各种原因所限,本网站不对前述服务的 资金到账时间做任何承诺,也不承担与此相关的责任,包括但不限于由此产生的 利息、货币贬值等损失;<br>
                    2、 一经您使用前述服务,即表示您不可撤销地授权本 网站进行相关操作,且该等操作是不可逆转的,您不能以任何理由拒绝付款或要 求取消交易。就前述服务,您应按照有关文件及第三方支付机构或金融机构的规 定支付第三方费用,您与第三方之间就费用支付事项产生的争议或纠纷,与本网 站无关。 </p>
                <p>(三)您保证并承诺您通过本网站平台进行交易的资金来源合法。您同意,本公 司有权按照包括但不限于公安机关、检察机关、法院等司法机关、行政机关、军 事机关的要求协助对您的账户及资金等进行查询、冻结或扣划等操作。</p>
                <p>(四)本网站有权基于交易安全等方面的考虑不时设定涉及交易的相关事项,包 括但不限于交易限额、交易次数等。您了解,本网站的前述设定可能会对您的交 易造成一定不便,您对此没有异议。</p>
                <p>(五)如果本网站发现了因系统故障或其他原因导致的处理错误,无论有利于本 网站还是有利于您,本网站都有权在根据本协议规定通知您后纠正该错误。如果 因本网站出现处理错误导致您实际收到的金额少于您应获得的金额,则本网站在 确认该处理错误后会尽快将您应收金额与实收金额之间的差额存入您的用户账 户。如果该错误导致您实际收到的金额多于您应获得的金额,则无论错误的性质 和原因为何,您都应及时根据本网站向您发出的有关纠正错误的通知的具体要求 返还多收的款项或进行其他操作。您理解并同意,您因前述处理错误而多付或少 付的款项均不计利息,本网站不承担因前述处理错误而导致的任何损失或责任 (包括您可能因前述错误导致的利息、汇率等损失),但因本网站恶意而导致的 处理错误除外。</p>
                <p>(六)在任何情况下,对于您使用本网站服务过程中涉及由第三方提供相关服务 的责任由该第三方承担,本网站不承担该等责任。因您自身的原因导致本网站服 务无法提供或提供时发生任何错误而产生的任何损失或责任,由您自行负责,本 网站不承担责任。</p>
            </div>
            <div>
                <h2>第五条 合同管理</h2>
                <p>(一)在本网站平台交易需订立的协议采用电子合同方式。您使用您在本网站注 册的账户登录后,根据本网站的相关规则通过点击确认或类似方式签署的电子合 同即视为您的真实意愿并以您的名义签署的合同,具有法律效力。您应妥善保管 自己的账户密码等账户信息,您通过前述方式订立的电子合同对合同各方具有法 律约束力,您不得以账户密码等账户信息被盗用或其他理由否认已订立的合同的 效力或不按照该等合同履行相关义务。</p>
                <p>(二)您根据本协议以及本网站的相关规则签署电子合同后,不得擅自修改该合同。本网站向您提供电子合同的备案、查看、核对等服务,如对电子合同真伪或 电子合同的内容有任何疑问,您可通过本网站的相关系统板块查阅有关合同并进 行核对。如对此有任何争议,应以本网站记录的合同为准。</p>
                <p>(三)您不得私自仿制、伪造在本网站平台上签订的电子合同或印章,不得用伪 造的合同进行招摇撞骗或进行其他非法使用,否则您应自行承担责任</p>
            </div>
            <div>
                <h2>第六条 账户安全及相关使用</h2>
                <p>(一)您了解并同意,确保密码及账号的机密安全是您的责任。您将对利用该密 码及账号所进行的一切行动及言论,负完全的责任,并同意以下事项: <br>
                    1、您不对其他任何人泄露您的账户或密码,亦不可使用其他任何人的账户或密 码。因黑客、病毒或您的保管疏忽等非本网站原因导致账号遭他人非法使用的, 本网站不承担任何责任。<br>
                    2、本网站通过您的会员账户及密码来识别您的指令,您确认,使用您的会员账 户和密码登陆后在本网站的一切行为均代表您本人。会员账户操作所产生的电子 信息记录均为您行为的有效凭据,并由您本人承担由此产生的全部责任。<br>
                    3、冒用他人账户及密码的,本网站及其合法授权主体保留追究实际使用人连带 责任的权利。<br>
                    4、您应根据本网站的相关规则以及本网站的相关提示创建一个安全密码,应避 免选择过于明显的单词或日期,比如您的姓名、昵称或者您的生日等。</p>
                <p>(二)账户的暂停、注销、拒绝使用或终止 <br>
                    1、您如发现有第三人冒用或盗用您的账号及密码,或其他任何未经合法授权的 情形,应立即以有效方式通知本网站,要求本网站暂停相关服务,否则由此产生 的一切责任由您本人承担。同时,您理解本网站对您的请求采取行动需要合理期 限,在此之前,本网站对第三人使用该服务所导致的损失不承担任何责任。<br>
                    2、您决定不再使用会员账号时,应首先清偿所有应付款项(包括但不限于借款 本金、利息、罚息、违约金、服务费、管理费等),再将会员账号下所对应的可 用款项(如有)全部提现或者向本网站发出其它合法的支付指令,并向本网站申 请注销(永久冻结)该会员账号,经本网站审核同意后可正式注销会员账户。 会 员死亡或被宣告死亡的,其在本协议项下的各项权利义务由其继承人承担。若会 员丧失全部或部分民事权利能力或民事行为能力,本网站或其授权的主体有权根 据有效法律文书(包括但不限于生效的法院判决等)或其法定监护人的指示处置 与会员账户相关的款项。<br>
                    3、本网站有权基于单方独立判断,在其认为可能发生危害交易安全等情形时, 不经通知而先行暂停、中断或终止向您提供本协议项下的全部或部分会员服务 (包括收费服务),并将注册资料移除或删除,且无需对您或任何第三方承担任 何责任。前述情形包括但不限于: <br>
                    (1)本网站认为您提供的个人资料不具有真实性、有效性或完整性; <br>
                    (2)本网站发现异常交易或有疑义或有违法之虞时;<br>
                    (3)本网站认为您的账户涉嫌洗钱、套现、传销、被冒用或其他本网站认为有 风险之情形;<br>
                    (4)本网站认为您已经违反本协议中规定的各类规则及精神; <br>
                    (5)您在使用本网站收费服务时未按规定向本网站支付相应的服务费用;<br>
                    (6)您的账户已连续三年内未实际使用(账户中有余额的,本网站将为您妥善 保管);<br>
                    (7)本网站基于交易安全等原因,根据其单独判断需先行暂停、中断或终止向 您提供本协议项下的全部或部分会员服务(包括收费服务),并将注册资料移除 或删除的其他情形。 <br>
                    4、您同意在必要时,本网站无需进行事先通知即有权终止提供会员账户服务, 并可能立即暂停、关闭或删除您的账号及您账号中所有相关资料及档案。<br>
                    5、您同意,会员账户的暂停、中断或终止不代表您责任的终止,您仍应对您使 用本网站服务期间的行为承担可能的违约或损害赔偿责任,同时本网站仍可保有 您的相关信息。<br>
                    6、若使用第三方网站账号注册本网站会员账户,则您应对您本网站会员账户所 对应的第三方网站账号拥有合法的使用权,如您因故对该第三方网站账号丧失使 用权的,则本网站可停止为您的该账户提供服务。但如该交易会员账户尚存有余 额的,本网站将会为您妥善保管。此时,如您欲取回其原有余额,本网站将提供 更换本网站账户名的服务,即您可把您原账户下余额转移到您另外合法注册的本 网站账户中;如因故无法自助完成更换账户名,您可以向本网站提出以银行账户 接受原有资金的请求,经核验属实后,本网站可配合您将原有资金转移到以您真 实姓名登记的银行账户下。</p>
            </div>
            <div>
                <h2>第七条 风险提示</h2>
                <p>(一)宏观经济风险:因宏观经济形势变化,可能引起价格等方面的异常波动, 您有可能遭受损失;</p>
                <p>(二)政策风险:有关法律、法规及相关政策、规则发生变化,可能引起价格等 方面异常波动,您有可能遭受损失;</p>
                <p>(三)违约风险:因其他交易方无力或无意愿按时足额履约,您有可能遭受损失;</p>
                <p>(四)利率风险:市场利率变化可能对购买或持有产品的实际收益产生影响;</p>
                <p>(五)不可抗力因素导致的风险;</p>
                <p>(六)因您的过错导致的任何损失由您自行承担,该过错包括但不限于:决策失 误、操作不当、遗忘或泄露密码、密码被他人破解、您使用的计算机系统被第三 方侵入、您委托他人代理交易时他人恶意或不当操作而造成的损失;</p>
                <p>(七)本网站不对任何会员和/或任何交易提供任何担保或条件,无论是明示、 默示或法定的。会员信息是由会员自行发布和提供,本网站不承担任何形式的证 明、鉴定服务,您依赖于您自己的判断进行交易,您应对您的判断承担全部责任, 本网站及其股东、创建人、高级职员、董事、代理人、关联公司、母公司、子公 司和雇员等均不能完全保证网站内容(包括测算工具等)的真实性、充分性、可 靠性、完整性和有效性,并且无需承担任何由此引起的法律责任;</p>
                <p>(八)以上并不能揭示从事交易的全部风险及市场的全部情形。您在做出交易决 策前,应通过本网站公布的信息及其他相关公告了解拟交易产品的风险收益特征, 并根据本人的交易目标、交易期限、风险承受能力和资产状况等谨慎决策,并自 行承担全部风险。</p>
            </div>
            <div>
                <h2>第八条 会员的守法义务及承诺</h2>
                <p>(一)您承诺绝不为任何非法目的或以任何非法方式使用本网站服务,并承诺遵 守中国相关法律、法规及一切使用互联网之国际惯例,遵守所有与本网站服务有 关的网络协议、规则和程序。您若是中国以外之使用者,您同意同时遵守您所属 国家或地域的法令。</p>
                <p>(二)您同意并保证不得利用本网站服务从事侵害他人权益或违法之行为,若有 违反者应负所有法律责任。上述行为包括但不限于:<br>
                    1.反对宪法所确定的基本原则,危害国家安全、泄漏国家秘密、颠覆国家政权、 破坏国家统一的。 <br>
                    2.侵害他人名誉、隐私权、商业秘密、商标权、著作权、专利权、其他知识产权 及其他权益。<br>
                    3.违反依法律或合约所应负之保密义务。<br>
                    4.冒用他人名义使用本网站服务。<br>
                    5.从事任何不法交易行为,如贩卖枪支、毒品、禁药、盗版软件或其他违禁物。<br>
                    6.提供赌博资讯或以任何方式引诱他人参与赌博。<br>
                    7.涉嫌洗钱、套现或进行传销活动的。<br>
                    8.从事任何可能含有电脑病毒或是可能侵害本网站服务系統、资料等行为。<br>
                    9.利用本网站服务系统进行可能对互联网或移动网正常运转造成不利影响之行 为。<br>
                    10.侵犯本网站的商业利益,包括但不限于发布非经本网站许可的商业广告。<br>
                    11.利用本网站服务上传、展示或传播虚假的、骚扰性的、中伤他人的、辱骂性的、 恐吓性的、庸俗淫秽的或其他任何非法的信息资料。<br>
                    12.其他本网站有正当理由认为不适当之行为。</p>
                <p>(三)本网站保有依其单独判断删除本网站内各类不符合法律政策或不真实或不 适当的信息内容而无须通知会员的权利,并无需承担任何责任。 若您未遵守以 上规定的,本网站有权作出独立判断并采取暂停或关闭会员账号等措施,而无需 承担任何责任。</p>
                <p>(四)您同意,由于您违反本协议,或违反通过援引并入本协议并成为本协议一 部分的文件,或由于您使用本网站服务违反了任何法律或第三方的权利而造成任 何第三方进行或发起的任何补偿申请或要求(包括律师费用),您会对本网站及 其关联方、合作伙伴、董事以及雇员给予全额补偿并使之不受损害。</p>
            </div>
            <div>
                <h2>第九条 系统服务中断或故障</h2>
                <p>您同意,基于互联网的特殊性,本网站不担保服务不会中断,也不担保服务 的及时性和/或安全性。系统因相关状况无法正常运作,使会员无法使用任何本 网站服务或使用任何本网站服务时受到任何影响时,本网站对您或第三方不负任 何责任,前述状况包括但不限于:
                </p>
                <p>(一)本网站系统停机维护期间。</p>
                <p>(二)电信设备出现故障不能进行数据传输的。</p>
                <p>(三)由于黑客攻击、网络供应商技术调整或故障、网站升级、银行方面的问题 等原因而造成的本网站服务中断或延迟。</p>
                <p>(四)因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素, 造成本网站系统障碍不能执行业务的。</p>
            </div>
            <div>
                <h2>第十条 责任范围及限制</h2>
                <p>(一)本网站仅对本协议中所列明的本网站应承担相关责任的义务承担责任。</p>
                <p>(二)您确认因交易而产生的任何风险应由交易双方承担。</p>
                <p>(三)会员信息是由会员自行发布,本网站无法保证会员信息的真实、及时和完 整,您应对您的判断承担全部责任。</p>
                <p>(四)本网站未对交易种类、交易结果等交易事项及本网站服务提供任何形式的 保证,包括但不限于以下事项:<br>
                    1.本网站服务将符合您的需求。<br>
                    2.本网站服务将不受干扰、及时提供或免于出错。<br>
                    3.您经由本网站服务购买或取得之任何产品、服务、资讯或其他资料将符合您的 期望。</p>
                <p>(五)本网站服务的合作单位,所提供的服务品质及内容由该合作单位自行负责。</p>
                <p>(六)本网站的网站内容可能涉及由第三方所有、控制或者运营的其他网站(以 下简称“第三方网站”)。本网站不能保证也没有义务保证第三方网站上任何信息 的真实性和有效性。您确认按照第三方网站的服务协议使用第三方网站,而不是 按照本协议。第三方网站不是本网站推荐或者介绍的,第三方网站的内容、产品、 广告和其他任何信息均由您自行判断并承担风险,而与本网站无关。您经由本网 站服务的使用下载或取得任何资料,应由您自行考量且自负风险,因资料的下载 而导致您电脑系统的任何损坏或资料流失,您应自行承担全部风险和责任。</p>
                <p>(七)您自本网站及本网站工作人员或经由本网站服务取得的建议或资讯,无论 其为书面或口头,均不构成本网站对本网站服务的任何保证。</p>
                <p>(八)本网站不保证为向您提供便利而设置的外部链接的准确性、有效性、安全 性和完整性,同时,对于该等外部链接指向的不由本网站实际控制的任何网页上 的内容,本网站不承担任何责任。 </p>
                <p>(九)在法律允许的情况下,本网站对于与本协议有关或由本协议引起的,或者, 由于使用本网站、或由于其所包含的或以其它方式通过本网站提供给您的全部信 息、内容、材料、产品(包括软件)和服务、或购买和使用产品引起的任何间接 的、惩罚性的、特殊的、派生的损失(包括但不限于业务损失、收益损失、利润 损失、使用数据或其他经济利益的损失),不论是如何产生的,也不论是由对本 协议的违约(包括违反保证)还是由侵权造成的,均不负有任何责任,即使其事 先已被告知此等损失的可能性。另外即使本协议规定的排他性救济没有达到其基 本目的,也应排除本网站对上述损失的责任。</p>
                <p>(十)除本协议另有规定外,在任何情况下,本网站对本协议所承担的违约赔偿 责任总额不超过向您收取的当次本网站服务费用总额。</p>
            </div>
            <div>
                <h2>第十一条 用户信息及隐私权保护</h2>
                <p>尊重用户个人隐私是本网站的一项基本原则,具体内容见《学好贷隐私条款》 的相关规定。</p>
            </div>
            <div>
                <h2>第十二条 知识产权的保护</h2>
                <p>(一)本网站上所有内容,包括但不限于著作、图片、档案、资讯、资料、网站 架构、网站画面的安排、网页设计,均由本网站或其他权利人依法拥有其知识产 权,包括但不限于商标权、专利权、著作权、商业秘密等。</p>
                <p>(二)非经本网站或其他权利人书面同意,任何人不得擅自使用、修改、复制、 公开传播、改变、散布、发行或公开发表本网站程序或内容。</p>
                <p>(三)本网站授予您有限的许可进入和个人使用本网站,未经本网站的明确书面 同意不许下载(除了页面缓存)或修改网站或其任何部分。这一许可不包括对本 网站或其内容的转售或商业利用、任何收集和利用产品目录、说明和价格、任何 对本网站或其内容的衍生利用、任何为其他商业利益而下载或拷贝账户信息或使
                    用任何数据采集、Robots 或类似的数据收集和摘录工具。未经本网站的书面许可, 严禁对本网站的内容进行系统获取以直接或间接创建或编辑文集、汇编、数据库 或人名地址录(无论是否通过 Robots、Spiders、自动仪器或手工操作)。另外, 严禁为任何未经本使用条件明确允许的目的而使用本网站上的内容和材料。</p>
                <p>(四)未经本网站明确书面同意,不得以任何商业目的对本网站或其任何部分进 行复制、复印、仿造、出售、转售、访问、或以其他方式加以利用。未经本网站 明确书面同意,您不得用 frame 或运用 frame 技巧把本网站或其关联公司的商 标、标识或其他专有信息(包括图像、文字、网页设计或形式)据为己有。未经 本网站明确书面同意,您不得以 Meta Tags 或任何其他"隐藏文本"方式使用本网 站或其关联公司的名字和商标。任何未经授权的使用都会终止本网站所授予的允 许或许可。</p>
            </div>
            <div>
                <h2>第十三条 条款的解释、法律适用及争端解决</h2>
                <p>(一)本协议是由您与本网站共同签订的,适用于您在本网站的全部活动。本协 议内容包括但不限于协议正文条款及已经发布的或将来可能发布的各类规则,所 有条款和规则为协议不可分割的一部分,与协议正文具有同等法律效力。</p>
                <p>(二)本协议不涉及您与本网站的其他会员之间,因网上交易而产生的法律关系 及法律纠纷。但您在此同意将全面接受并履行与本网站其他会员在本网站签订的 任何电子法律文本,并承诺按照该法律文本享有和(或)放弃相应的权利、承担 和(或)豁免相应的义务。</p>
                <p>(三)如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力, 则应认为该条款可与本协议相分割,并可被尽可能接近各方意图的、能够保留本 协议要求的经济目的的、有效的新条款所取代,而且,在此情况下,本协议的其 他条款仍然完全有效并具有约束力。</p>
                <p>(四)本协议及其修订的有效性、履行与本协议及其修订效力有关的所有事宜, 将受中国法律管辖,任何争议仅适用中国法律。</p>
                <p>(五)本协议签订地为北京市东城区因本协议所引起的会员与本网站的任何纠纷 或争议,首先应友好协商解决,协商不成的,会员在此完全同意将纠纷或争议提 交合同签订地的人民法院诉讼解决。</p>
            </div>
            <div>
                <h2>北京学好贷信息技术有限公司</h2>
                <p>学好贷隐私条款</p>
                <p>本网站由北京学好贷信息技术有限公司(以下简称“本网站”,均指网站及北 京学好贷信息技术有限公司)负责运营。本网站依据本服务协议的规定为本网站 的注册会员(以下简称“会员”)提供服务。
                    您勾选“我已经阅读并同意网站服务协议和隐私条款”后并点击"完成注册" 按钮即完成注册程序,则表示您同意接受本网站的服务并受以下条款的约束。若
                    您不接受以下条款,请您立即停止注册或主动停止使用本网站的服务。</p>
            </div>
            <div>
                <h2>第一条 会员信息的收集</h2>
                <p>1.本网站对于您提供的、本网站自行收集的、经认证的个人信息将按照本协议予 以保护、使用或者披露。<br>
                    2.本网站收集个人资料的主要目的在于向您提供一个顺利、有效和度身订造的交 易经历。本网站仅收集本网站认为就此目的及达成该目的所必须的关于您的个人 资料。<br>
                    3.本网站可能通过公开或私人资料来源收集您的额外资料,以更好地了解您的需 求,并为您度身订造服务、解决争议并有助确保在本网站平台进行安全交易。<br>
                    4.本网站有权按照您在网站上的行为自动追踪关于您的某些资料。在不透露您个 人的隐私资料的前提下,本网站有权对整个会员数据库进行分析并对会员数据库 进行商业上的利用。<br>
                    5.本网站有权在本网站的某些网页上使用诸如“Cookies”的资料收集装置。<br>
                    6.如果您将个人通讯信息(例如:手机短信、电邮或信件)交付给本网站,或如 果其他用户或第三方向本网站发出关于您在本网站上的活动或登录事项的通讯 信息,本网站可以将这些资料收集在您的专门档案中。</p>
            </div>
            <div>
                <h2>第二条 会员信息的保护和披露</h2>
                <p>1.您注册成功后应妥善保管您的用户名和密码。您确认,无论是您还是您的代理 人,用您的用户名和密码登录本网站后在本网站的一切行为均代表您并由您承担 相应的法律后果。<br>
                    2.本网站对于您提供的、本网站自行收集到的、经认证的个人信息将按照本协议 及有关规则予以保护、使用或者披露。本网站依据私人银行业守则,设有严格的 数据安全系统,对用户信息进行同步记录和高强加密,防止未经授权的任何人、 包括本公司的员工获取用户信息,严格保护您的财务隐私和用户信息,但鉴于技 术限制,本网站不能确保您的全部私人通讯及其他个人资料不会通过本协议中未 列明的途径泄露出去。<br>
                    3.您提供给本网站和北京学好贷信息技术有限公司的信息及您享受学好贷的服 务产生的信息(包括本协议签署之前提供和产生的),可用于学好贷及因服务必 要而委托的第三方为您提供服务及推荐产品,法律禁止的除外。学好贷及其委托 的第三方对上述信息负有保密义务。本隐私条款自会员注册时生效,具有独立法 律效力,不受服务协议成立与否及效力状态变化的影响。<br>
                    4.本网站可根据有关法律要求向司法机关和政府部门提供您的个人资料。在您未 能按照与本网站签订的服务协议或者与本网站其他会员签订的借款协议等其他 法律文本的约定履行自己应尽的义务时,本网站有权根据自己的判断或者与该笔 交易有关的其他会员的请求披露您的个人资料,并做出评论。<br>
                    5.如果您严重违反本网站的相关规则或违反相关交易合同条款的,本网站有权对 您提供的及本网站自行收集的您的个人信息和资料编辑入网站黑名单,并将该黑 名单对第三方披露。<br>
                    6.因服务需要,本网站有权将您提交的或本网站自行收集的您的个人资料和信息 与第三方进行数据共享,以便网站和第三方催收逾期借款及对您的其他申请进行 审核之用,如果由此造成您的经济损失,本网站无需承担法律责任。</p>
            </div>
            <div>
                <h2>第三条 本网站对您的资料的使用</h2>
                <p>1.您同意本网站可使用关于您的个人资料(包括但不限于本网站持有的有关您的 档案中的资料,本网站从您目前及以前在本网站平台上的活动所获取的其他资料 以及本网站通过其他方式自行收集的资料)以解决争议、对纠纷进行调停、有助 于确保在本网站进行安全交易,并执行本网站的服务协议。本网站有时候可能调 查多个会员以识别问题或解决争议,特别是本网站可审查您的资料以区分使用多 个会员名或别名的会员。为限制在网站平台上的欺诈、非法或其他刑事犯罪活动, 使本网站免受其害,您同意本网站可通过人工或自动程序对您的个人资料进行评 价。 <br>
                    2.您同意本网站可以使用您的个人资料以改进本网站的推广和促销工作、分析网 站的使用率、改善本网站的内容和产品推广形式,并使本网站的网站内容、设计 和服务更能符合用户的要求。这些使用能改善本网站的网页,以调整本网站的网 页使其更能符合您的需求,从而使您在使用本网站服务时得到更为顺利、有效、 安全及度身订造的交易体验。<br>
                    3.您同意本网站利用您的资料与您联络并(在某些情况下)向您传递针对您的兴 趣而提供的信息,例如:有针对性的广告条、行政管理方面的通知、产品提供以 及有关您使用本网站的通讯。您接受本协议即视为您同意收取这些资料。
                </p>
            </div>
            <div>
                <h2>第四条 您对其他会员的资料的使用</h2>
                <p>
                    在本网站提供的交易活动中,您承诺对所取得的相关交易相对人信息只用于 与交易相关的合法、合理用途。您无权要求本网站提供其他会员的个人资料,除 非符合以下任一条件:<br>
                    1.您已向法院起诉其他会员的在本网站活动中的违约行为且法院已受理立案; <br>
                    2.接受您出借的借款人逾期未归还借款本息; <br>
                    3.本网站被吊销营业执照、解散、清算、宣告破产或者其他有碍于您收回借款本 息的情形。 您同意并授权本网站在其他任何会员符合上述任一条件时,将您的个人资料提供 给该等会员。
                </p>
            </div>
            <div>
                <h2>第五条 法律适用与管辖</h2>
                <p>本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律, 没有相关法律规定的,参照通用国际商业惯例和(或)行业惯例。因本协议产生 之争议,均应依照中华人民共和国法律予以处理,并以北京市东城区人民法院作 为第一审管辖法院。
                </p>
            </div>
            <div>
                <h2>第六条 安全提示条款</h2>
                <p>学好贷是一个通过实名认证进行交易的平台,用户在平台上交易的过程中,需遵 守本网站服务协议、隐私条款及本网站相关规则的规定,时刻注意保护个人隐私, 截图注意覆盖个人信息,不要向他人随意透露真实姓名与住址等任何相关信息, 以防个人信息泄漏造成损失。
                    北京学好贷信息技术有限公司</p>
            </div>
        </div>
    </div>
</div>
