*/src/main/webapp/WEB-INF/classes
.project
.classpath
*.MF
whatsmars-*/.settings
whatsmars-*/target
whatsmars-*/bin
whatsmars-*/logs
whatsmars-*/whatsmars-*/.settings
whatsmars-*/whatsmars-*/target
whatsmars-*/whatsmars-*/bin
whatsmars-*/whatsmars-*/logs
.settings
*.iws
*.iml
*.ipr
.idea/*
activemq-data/*
logs/*
target/*
classes/*
dump.rdb

