*/src/main/webapp/WEB-INF/classes
.project
.classpath
*.MF
*git*
whatsmars-*/.settings
whatsmars-*/target
whatsmars-*/bin
.settings
*.iws
*.iml
*.ipr
.idea/*
profile/production.properties
profile/test.properties
