*/src/main/webapp/WEB-INF/classes
.project
.classpath
*.MF
*git*
whatsmars-*/.settings
whatsmars-*/target
whatsmars-*/bin
whatsmars-*/whatsmars-*/.settings
whatsmars-*/whatsmars-*/target
whatsmars-*/whatsmars-*/bin
.settings
*.iws
*.iml
*.ipr
.idea/*
activemq-data/*
