#set($title = "课程审核")
<div class="content">
    <div class="titles">
        <p>课程审核 ><span>课程审核</span></p>
    </div>
    <div class="course">
        <form id="auditForm" name="auditForm" action="/course/audit_action.jhtml" method="post">
            <input type="hidden" name="token" value="$!{token}"/>
            <input type="hidden" name="id" value="$!{course.id}">
            <table class="table2">
                <tr>
                    <td>审核结果：</td>
                    <td>
                        <label><input type="radio" name="status" id="checkSuccess" value="$!{courseCheckedSuccess}" checked="checked">审核通过</label>　
                        <label><input type="radio" name="status" id="checkFailure" value="$!{courseCheckedFailure}">拒绝通过</label>
                    </td>
                </tr>
                <tr>
                    <td valign="top">课程名称：</td>
                    <td>
                        <label>$!course.name</label>
                    </td>
                </tr>
                <tr>
                    <td>借款期限：</td>
                    <td>
                        #set($monthLimit=[1 .. 36])
                        <select name="month_limit" id="month_limit">
                            #foreach($i in $monthLimit)
                                <option value="$i">${i}个月</option>
                            #end
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>宽恕期限：</td>
                    <td>
                        #set($gracePeriod=[0 .. 12])
                        <select name="grace_period" id="grace_period">
                            #foreach($j in $gracePeriod)
                                <option value="$j">${j}个月</option>
                            #end
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>月基础服务费率：</td>
                    <td><input type="text" name="fee_rate" id="fee_rate" autocomplete="off"/>%</td>
                </tr>
                <tr>
                    <td>宽恕期内月服务费率：</td>
                    <td><input type="text" name="grace_rate" id="grace_rate" autocomplete="off"/>%</td>
                </tr>
                <tr>
                    <td>宽恕期外月服务费率：</td>
                    <td><input type="text" name="month_rate" readonly="readonly" disabled="disabled" id="month_rate"/>%---(不可编辑，自动测算得出)</td>
                </tr>
                <tr>
                    <td valign="top">审核留言：</td>
                    <td>
                        <textarea class="course_text" id="audit_note" name="audit_note"></textarea>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td style="text-align: left;color: red;">
                        <label id="error"></label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="button" name="course_firm" id="course_firm" value="确认" class="course_but"/>
                        <input type="button" name="course_quit" id="course_quit" value="返回" class="course_but" onclick="history.go(-1)"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<script>
    $(function() {
        function _check_len(s) {
            var l = 0;
            var a = s.split("");
            for (var i = 0; i < a.length; i++) {
                if (a[i].charCodeAt(0) < 299) {
                    l++;
                } else {
                    l += 2;
                }
            }
            return l;
        }
        var monthLimit = $('#month_limit');
        var gracePeriod = $('#grace_period');
        var feeRate = $('#fee_rate');
        var graceRate = $('#grace_rate');
        var monthRate = $('#month_rate');
        var errorSpan = $('#error');

        if (Number(gracePeriod.val()) == 0){
            graceRate.attr("disabled","disabled");
            graceRate.val(0);
        }

        function calcMonthFeeRate(){
            var monthLimitVal = monthLimit.val();
            var gracePeriodVal = gracePeriod.val();
            var feeRateVal = feeRate.val();
            var graceRateVal = graceRate.val();
            var minus = Number(monthLimitVal) - Number(gracePeriodVal);
            var monthRateVal = (Number(feeRateVal)*Number(monthLimitVal)-Number(graceRateVal)*Number(gracePeriodVal))/minus;
            if (Number(gracePeriodVal) == 0){
                graceRate.attr("disabled","disabled");
                graceRate.val(0);
            }else{
                graceRate.removeAttr("disabled");
            }
            if (minus <= 0){
                errorSpan.html('宽恕期限应小于借款期限');
                return false;
            }
            var reg = new RegExp("(?!^[0]{2,})(?!^0[1-9]+)(?!^0\\.[0]*$)^(([1-9]+[0-9]*)|0)(\\.\\d{1,2})?$");
            if (feeRateVal == ''){
                errorSpan.html('【月基础服务费率】不能为空');
                return false;
            } else if(!reg.test(feeRateVal) || feeRateVal > 100){
                errorSpan.html('请输入正确的【月基础服务费率】,(如果有小数位最多2位)');
                return false;
            }
            if (graceRateVal == ''){
                errorSpan.html('【宽恕期内月服务费率】不能为空');
                return false;
            } else if(!reg.test(graceRateVal) || graceRateVal > 100){
                errorSpan.html('请输入正确的【宽恕期内月服务费率】,(如果有小数位最多2位)');
                return false;
            }
            if (monthRateVal < 0){
                errorSpan.html('经推测得出的【宽恕期外月服务费率】小于0，请重新输入');
                return false;
            }
            errorSpan.html('');
            $('#month_rate').val(monthRateVal.toFixed(2));
            return true;
        }

        $('#checkSuccess').on('click',function(){
            monthLimit.removeAttr("disabled");
            gracePeriod.removeAttr("disabled");
            feeRate.removeAttr("disabled");
            graceRate.removeAttr("disabled");
            feeRate.val('');
            monthRate.val('');
            if (Number(gracePeriod.val()) == 0){
                graceRate.attr("disabled","disabled");
                graceRate.val(0);
            }else{
                graceRate.removeAttr("disabled");
                graceRate.val('');
            }
        })

        $('#checkFailure').on('click',function(){
            monthLimit.val(1);
            gracePeriod.val(0);
            feeRate.val('0');
            graceRate.val('0');
            monthRate.val('0.00');
            monthLimit.attr("disabled","disabled");
            gracePeriod.attr("disabled","disabled");
            feeRate.attr("disabled","disabled");
            graceRate.attr("disabled","disabled");
            errorSpan.html('');
        })

        //借款期限选项改变时触发计算函数
        $('#month_limit').change(function(){
            calcMonthFeeRate();
        })

        //宽恕期限选项改变时触发计算函数
        $('#grace_period').change(function(){
            calcMonthFeeRate();
        })

        function gracePeriodChange(){
            calcMonthFeeRate();
        }

        //月基础服务费率输入离开时触发计算函数
        $('#fee_rate').on('blur',function(){
            calcMonthFeeRate();
        })

        //宽恕期内月服务费率输入离开时触发计算函数
        $('#grace_rate').on('blur',function(){
            calcMonthFeeRate();
        })

        $("#course_firm").on('click', function() {
            if (!calcMonthFeeRate()){
                return false;
            }
            var audit_note = $('#audit_note').val();
            if (audit_note == '') {
                errorSpan.html('审核留言不能为空');
                return false;
            }
            var len = _check_len(audit_note);
            if (len < 4 || len > 122) {
                errorSpan.html('审核留言请输入4~122个字符，一个中文为2个字符');
                return false;
            }
            $.ajax({
                type:"POST",
                url:"/course/audit_action.jhtml",
                data:$('#auditForm').serialize(),
                async:true,
                dataType:"json",
                success:function(data) {
                    if (data.code == 'S00000') {
                        window.location.href=data.data._redirect_url;
                    } else {
                        errorSpan.html(data.message);
                    }
                },
                error: function(request) {
                    errorSpan.html("网络繁忙，请稍后再试");
                }
            });
        });
    })
</script>