#set($title = "课程详情")
<div class="content">
    <div class="titles">
        <p>课程审核 ><span>课程详情</span></p>
    </div>
    <div class="course">
        <table class="table2">
            <tr>
                <td><b>课程状态:</b></td>
                <td colspan="3">
                    #foreach($status in $!statusEnums)
                        #if($!status.code == $!course.status)
                            <span style="color: #ff5c01;"> $!status.meaning</span>
                        #end
                    #end
                </td>
            </tr>
            <tr>
                <td>机构名称:</td>
                <td>
                    <label>$!course.organizationName</label>　
                </td>
                <td>借款期限:</td>
                <td>
                    <label>$!{course.monthLimit}个月</label>
                </td>
            </tr>
            <tr>
                <td>课程名称:</td>
                <td>
                    <label>$!course.name</label>　
                </td>
                <td>宽恕期限:</td>
                <td>
                    <label>$!{course.gracePeriod}个月</label>
                </td>
            </tr>
            <tr>
                <td>课程周期:</td>
                <td>
                    <label>$!{course.totalMonths}个月</label>　
                </td>
                <td>月基础服务费率:</td>
                <td>
                    <label>$!{course.feeRate}%</label>
                </td>
            </tr>
            <tr>
                <td>课程价格:</td>
                <td>
                    <label>$!course.price（元）</label>　
                </td>
                <td>宽恕期内<br/>月服务费率:</td>
                <td>
                    <label>$!{course.graceRate}%</label>
                </td>
            </tr>
            <tr>
                <td>课程描述:</td>
                <td>
                    <textarea cols="30" rows="5" readonly="readonly">$!course.description</textarea>　
                </td>
                <td>宽恕期外<br/>月服务费率:</td>
                <td>
                    <label>$!{course.monthRate}%</label>
                </td>
            </tr>
            <tr>
                <td>审核备注:</td>
                <td colspan="3">
                    <textarea cols="60" rows="5" readonly="readonly">$!course.auditNote</textarea>　
                </td>
            </tr>
        </table>
        <table class="table2">
            <tr>
                <td colspan="4" style="text-align: center;">
                    <input type="button" id="course_quit" value="返回列表" class="course_but" onclick="history.go(-1)"/>
                </td>
            </tr>
        </table>
    </div>
</div>