#set($title = "我要投资-学好贷")
#set($vmHeader = "common")
#set($tab = "lender")

<form id="conditions" style="display: none">

    <input type="hidden" name="current_page" id="current_page" value="$!{query.currentPage}" />
    <input type="hidden" name="total_page" id="total_page" value="$!{queryResult.totalPage}"/>
    <input type="hidden" name="total_records" id="total_records" value="$!{queryResult.amount}"/>

    <input type="hidden" name="status" id="status"/>

    <input type="hidden" name="from_month_limit" id="from_month_limit"/>
    <input type="hidden" name="to_month_limit" id="to_month_limit"/>

    <input type="hidden"  name="from_process" id="from_process"/>
    <input type="hidden"  name="to_process" id="to_process" />

    <input type="hidden" name="from_rate" id="from_rate" />
    <input type="hidden" name="to_rate" id="to_rate"/>

    <input type="hidden" name="process_order" class="select_order" id="process_order" />
    <input type="hidden" name="amount_order" class="select_order" id="amount_order" />
    <input type="hidden" name="month_limit_order" class="select_order" id="month_limit_order" />
    <input type="hidden" name="rate_order" class="select_order" id="rate_order" />
    <input type="hidden" name="order" class="select_order" id="order" />
</form>





<div class="topbanner"></div>
<div class="content line">
    <div class="wraper">
        <a name="ST" href="#" target="_blank"></a>
        <a name="ST2" href="#" target="_blank"></a>
        <div class="main_top">
            <h3 >[投资项目，任你选择]</h3>
        </div>
        <div class="filterlist">
            <div class="ui_filter">
                <dl class="dd">
                    <dd>
                        <ul>
                            <li><b>项目状态：</b>
                            </li>
                            <li class="ui_filter_tag active" id="account_status_li">
                                <input type="radio" name="account_status" value="" checked="" />
                                <span>不限</span>
                            </li><i>|</i>
                            <li class="ui_filter_tag ">
                                <input type="radio" name="account_status" value='30' />

                                <span>投标中</span>
                            </li><i>|</i>
                            <li class="ui_filter_tag ">
                                <input type="radio" name="account_status" value='40' />
                                <span>投标完成</span>
                            </li><i>|</i>
                            <li class="ui_filter_tag ">
                                <input type="radio" name="account_status" value='50' />
                                <span>还款中</span>
                            </li>
                        </ul>
                    </dd>
                    <dd class="term">
                        <ul>
                            <li><b>借款期限：</b>
                            </li>
                            <li class="ui_filter_tag active" id="spread_month_li" style="width:auto">
                                <input type="radio" name="spread_month" value="" checked="" />
                                <span>不限</span>
                            </li><i>|</i>
                            <li class="ui_filter_tag ">
##                                <input type="radio" name="spread_month" value='1' />
                                <input type="radio" name="spread_month" value='3,6' />
                                <span>3-6个月</span>
                            </li><i>|</i>
                            <li class="ui_filter_tag ">
##                                <input type="radio" name="spread_month" value='2' />
                                  <input type="radio" name="spread_month" value='7,12' />
                                <span>7-12个月</span>
                            </li><i>|</i>
                            <li class="ui_filter_tag ">
##                                <input type="radio" name="spread_month" value='3' />
                                <input type="radio" name="spread_month" value='13,18' />
                                <span>13-18个月</span>
                            </li><i>|</i>
                            <li class="ui_filter_tag ">
                                <input type="radio" name="spread_month" value='19,24' />
                                <span>19-24个月</span>
                            </li><i>|</i>
                            <li class="ui_filter_tag ">
                                <input type="radio" name="spread_month" value='24' />
                                <span>24个月以上</span>
                            </li>
                        </ul>
                    </dd>
                    <dd>
                        <ul>
                            <li><b>投标进度：</b>
                            </li>
                            <li class="ui_filter_tag active" id="borrow_interestrate_li" style="width:auto">
                                <input type="radio" name="borrow_interestrate" value="" checked="" />
                                <span>不限</span>
                            </li><i>|</i>
                            <li class="ui_filter_tag ">
##                                <input type="radio" name="borrow_interestrate" value='1' />
                                <input type="radio" name="borrow_interestrate" value='0,30' />
                                <span>0%-30%</span>
                            </li><i>|</i>
                            <li class="ui_filter_tag ">
##                                <input type="radio" name="borrow_interestrate" value='2' />
                                <input type="radio" name="borrow_interestrate" value='30,50' />
                                <span>30%-50%</span>
                            </li><i>|</i>
                            <li class="ui_filter_tag ">
##                                <input type="radio" name="borrow_interestrate" value='3' />
                                <input type="radio" name="borrow_interestrate" value='50,70' />
                                <span>50%-70%</span>
                            </li><i>|</i>
                            <li class="ui_filter_tag ">
##                                <input type="radio" name="borrow_interestrate" value='4' />
                                <input type="radio" name="borrow_interestrate" value='70,90' />
                                <span>70%-90%</span>
                            </li><i>|</i>
                            <li class="ui_filter_tag ">
##                                <input type="radio" name="borrow_interestrate" value='5' />
                                <input type="radio" name="borrow_interestrate" value='90,100' />
                                <span>90%-100%</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="filter">
        <div class="filter_list">
            <ul class="sort_filter_list">
               <!-- <li class="select" data-order='default' xid="order"><a href="javascript:void(0)">默认排序</a></li> -->
                <li class="border_none">排序方式：</li>
                <li class="ui_filter_tag" id=""  data-order='account' xid="amount_order">
                    <input type="radio" name="account_status" value="" checked="" />
                    <span><a href="javascript:void(0)">借款总额<i></i></a></span>
                </li>
                <li class="ui_filter_tag " data-order='period' id="order_priod" xid="month_limit_order" >
                    <input type="radio" name="account_status" value='1' />
                    <span><a href="javascript:void(0)">项目期限<i></i></a></span>
                </li>
                <li class="ui_filter_tag " data-order='apr' xid="rate_order" >
                    <input type="radio" name="account_status" value='2' />
                    <span><a href="javascript:void(0)">借款利率<i></i></a></span>
                </li>
                <li class="ui_filter_tag " data-order='scale' id="order_scale" xid="process_order" >
                    <input type="radio" name="account_status" value='3' />
                    <span><a href="javascript:void(0)">项目进度<i></i></a></span>
                </li>
            </ul>

        </div>
    </div>

    <div class="wraper mrt">
        <ul class="auslese" id="bidding_list" >

            #foreach($bidding in $!biddingList)
                #set($left=$!bidding.required - $!bidding.obtained)
                #set($studentId=$bidding.studentId.toString())
                #set($index=$!useMap.get($studentId).indexOf('@')+1)
                #set($sex=$!basicMap.get($!studentId))
                <li>
                    <h3>$!{bidding.studentName}_$!bidding.courseName</h3>
                    <div class="t"><p class="c2"><span class="f40">$!bidding.rate</span>%</p>年化利率</div>
                    <div class="t tl"><p class="c6"><span class="f40">$!bidding.monthLimit</span>月</p>项目期限</div>
                    <div class="borrower-info">
                        <p class="c2"><b class="progress-bar"><em class="progress" style="width:$!bidding.process%; float:left"></em></b>$!bidding.process%</p>
                        <p>可投：￥$numberFormatUtils.format($!left,2)/总额：￥$!bidding.required</p>
                        <p>截止日期：$dateFormatUtils.format($!bidding.invalidDate,"yyyy-MM-dd HH:mm:ss")</p>
                        <p class="line1"></p>
                        <p class="c9">年龄：$!ageMap.get($studentId) #if($!sex == 0)<i class="icon gender-m"></i> #else<i class="icon gender-w"></i> #end
                        </p>
                        <p class="c9">预期岗位：$!titleMap.get($studentId)</p>
                        <p class="c9">预期月薪：$!salaryMap.get($studentId)元</p>
                    </div>
                    #if($!bidding.process == 100)
                        <a href="/bidding/detail.jhtml?bidding_id=$!bidding.id" class="btn">去看看</a>
                    #else
                        <a href="/bidding/detail.jhtml?bidding_id=$!bidding.id" class="btn">马上去投</a>
                    #end

                </li>
            #end
        </ul>
        #if($listFlag == 0)
            <p class="norecord" id="no_record_msg">很抱歉，没有找到符合要求的记录</p>
        #end

        #if($listFlag == 1)
            <div id="kkpager" ></div>
        #end

    </div>


</div>

<script type="text/javascript" src="/js/list.js?version=20150625"></script>





