<div class="footer">
    <div class="wraper">
        <ul>
            <li class="t400">
                <em></em>
                <p class="f30 c1">400-018-0670</p>
                <p class="nom">（客服工作时间：早8:00-晚20:00）</p>
            </li>
            <li class="qqr">
                <div class="qr">
                    <img src="/images/qr.jpg" alt="" title="" />
                    <p class="nom">官方微博 扫我一下</p>
                </div>
                <div class="r">
                    <p class="sina"><a href="http://weibo.com/xuehaodai2015" target="_blank"><i></i>关注新浪微博</a> <br /></p>
                    <p class="qq">投资群：174262993</p>
                </div>
            </li>
            <li class="partn">
                <span class="">战略合作伙伴：</span>
                <a href="http://www.haodai.com" target="_blank"><i class="pt1"></i></a><a href="http://www.yeepay.com/" target="_blank"><i class="pt2"></i></a>
            </li>
        </ul>
    </div>
</div>
<div class="copyright">
    <div class="wraper">
        <span> 2015  学好贷  AII Right Reserved.  京ICP备15013722号  北京学好贷信息技术有限公司</span>友情链接：
        #foreach($link in $!links)
            <a href="$!{link.link}" target="_blank">$!{link.name}</a>&nbsp;
        #end
    </div>
</div>