<!-- 关于我们 导航 -->
<div class="submenu bg6">
    <div class="wraper">
        #if($!stringUtils.isBlank($!navTab))
            #set($navTab = "about")
        #end
        <a #if($!navTab == "about") class="cur"#end href="/misc/about.jhtml">关于学好贷</a>
        <a #if($!navTab == "team") class="cur"#end href="/misc/team.jhtml">团队介绍</a>
        <a #if($!navTab == "notices") class="cur"#end href="/misc/notices.jhtml">最新公告</a>
        <a #if($!navTab == "reports") class="cur"#end href="/misc/reports.jhtml">媒体报道</a>
        <a #if($!navTab == "law") class="cur"#end href="/misc/law.jhtml">法律政策</a>
    </div>
</div>