<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %c -%-4r [%t] %-5p %x - %m%n" />
		</layout>

		<!--限制输出级别 -->
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="${whatsmars.log4j.logger.level}" />
		</filter>
	</appender>

	<appender name="FILE-ALL" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${whatsmars.log4j.logger.path}/earth-web/web-all.log" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %c -%-4r [%t] %-5p %x - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="${whatsmars.log4j.logger.level}" />
		</filter>
	</appender>

	<appender name="FILE-ERROR" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${whatsmars.log4j.logger.path}/earth-web/web-error.log" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %c -%-4r [%t] %-5p %x - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
		</filter>
	</appender>

	<!-- 页面VM日志 -->
	<appender name="FILE-VELOCITY" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${whatsmars.log4j.logger.path}/earth-web/web-velocity.log" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %c -%-4r [%t] %-5p %x - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="WARN" />
		</filter>
	</appender>

	<!-- 投资人账户数据流变化日志 -->
	<appender name="FLOW-DATA" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${whatsmars.log4j.logger.path}/earth-web/flow-data.log" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
		</filter>
	</appender>

	<!-- 投资人提现请求接口日志 -->
	<appender name="WITHDRAW-DATA" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${whatsmars.log4j.logger.path}/earth-web/withdraw-data.log" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
		</filter>
	</appender>

	<!-- 投资人充值回调日志 -->
	<appender name="RECHARGE-DATA" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${whatsmars.log4j.logger.path}/earth-web/recharge-data.log" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
		</filter>
	</appender>

	<!-- 下面是打印mybatis语句的配置-->
	<appender name="IBatis" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				   value="%d - %c -%-4r [%t] %-5p %x - %m%n" />
		</layout>

		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG"/>
		</filter>
	</appender>

	<category name="org.apache.ibatis" additivity="true">
		<level value="${whatsmars.log4j.logger.level}" />
		<appender-ref ref="FILE-ERROR"/>
		<appender-ref ref="FILE-ALL" />
	</category>

	<category name="org.apache.velocity" additivity="false">
		<level value="${whatsmars.log4j.logger.level}" />
		<appender-ref ref="FILE-VELOCITY" />
		<appender-ref ref="FILE-ALL" />
	</category>

	<category name="com.whatsmars.lender" additivity="true">
		<level value="${whatsmars.log4j.logger.level}" />
		<appender-ref ref="FILE-VELOCITY" />
		<appender-ref ref="FILE-ERROR"/>
		<appender-ref ref="FILE-ALL" />
	</category>

	<category name="flow-data-logger" additivity="false">
		<level value="${whatsmars.log4j.logger.level}" />
		<appender-ref ref="FLOW-DATA" />
	</category>

	<category name="withdraw-data-logger" additivity="false">
		<level value="${whatsmars.log4j.logger.level}" />
		<appender-ref ref="WITHDRAW-DATA" />
	</category>

	<category name="recharge-data-logger" additivity="false">
		<level value="${whatsmars.log4j.logger.level}" />
		<appender-ref ref="RECHARGE-DATA" />
	</category>

	<root>
		<level value="${whatsmars.log4j.logger.level}"/>
		<appender-ref ref="CONSOLE"/>
	</root>


</log4j:configuration>