#macro(pagination $targetUrl $queryResult)
<div id="kkpager"></div>
<script type="text/javascript">
    //init
    $(function(){
        //生成分页
        //有些参数是可选的，比如lang，若不传有默认值
        kkpager.generPageHtml({
            //当前页码
            pno : $!{query.currentPage},
            //总页码
            total : $!{queryResult.totalPage},
            //总数据条数
            totalRecords : $!{queryResult.amount},
            //链接前部
            hrefFormer : '$targetUrl',
            //链接尾部
            hrefLatter : '',
            getLink : function(n){
                if (n == 1){
                    return this.hrefFormer;
                }
                return this.hrefFormer + "&page="+n;
            }
        });
    });
</script>
#end