#set($layout = "/layout/default.vm")
#set($title = "交易密码修改 - 安全设置 - 学好贷")
#set($centerNav = "centerNav")
#set($menuTab = "safeConfig")
#set($lenderTab = "dealPassword")
#set($vmHeader = "common")

<div class="container">
    <div class="wraper mrt60" style="min-height:500px;">
        <div class="reg_step reg_step2">
        </div>
        <div class="reg-box b0">
            <form name="deal_password_form" method="post" action="" id="deal_password_form" >
                <input type="hidden" name="token" value=$!{token} />
                <input type="hidden" name="flag" value="${flag}" />
                  <div class="reg  mrt40">
                    <div class="item" style="width:700px;">
                        <label for=""><span class="c2 f14">* </span>交易密码</label>
                        <input type="password" placeholder="密码" id="password" name="password1" class="fl"/>
                        <div class="pw_strength">
                            <div class="pw_bar"></div>
                            <div class="pw_letter">
                                <span class="tsl">弱</span>
                                <span class="tsl">中</span>
                                <span class="tsl">强</span>
                            </div>
                        </div>
                        <div class="cl"></div>
                        <span class="msg_box warning" style="margin-left:110px;"><em></em><i></i><font></font></span>
                        <div class="t">请输入密码！</div>
                    </div>
                    <div class="item">
                        <label for=""><span class="c2 f14">* </span>确认密码</label>
                        <input type="password" id="confirm_password" name="password2"/>
                        <span class="msg_box warning"><em></em><i></i><font></font></span>
                        <div class="t">请输入确认交易密码！</div>
                    </div>
                    <div class="item">
                        <label for=""></label>
                        <input type="button" class="find-regi" id="deal_password_btn" value="确认">
                    </div>
                    <span id="message_span" style="color:red;font-weight:normal;font-size:small;margin-left:85px" ></span>
                </div>
            </form>
        </div>
    </div>
</div>
<script language="JavaScript" src="/js/find_deal_password.js"></script>