#set($layout = "/layout/default.vm")
#set($title = "我的银行卡 - 我的账户 - 学好贷")
#set($centerNav = "centerNav")
#set($menuTab = "lenderCenter")
#set($lenderTab = "bankList")
#set($vmHeader = "common")

<div class="container">

    #if($bankCardId)
        <div class="wraper mrt60" style="min-height:500px;">
            <div class="bank_list">
                <div class="bank_card_infor" style="text-align:left;">
                    <img src="/images/bank_img/$!{bankName}.jpg" />
                    <p class="fl4">$!bankCardId</p>
                    <p class="fl4">*$!stringUtils.substring($!realName, 1)</p>
                </div>
            </div>
        </div>
    #else
        <div class="wraper mrt60" style="min-height:500px;">
            <div class="reg_step reg_step3">
            </div>
            <div class="bank">
                <div class="bank_list">
                    <div class="bank_card_infor txt_cent">
                        <img src="/images/add.jpg" alt="添加银行卡"/>
                        <p><a href="/lender/add_bank_card.jhtml">添加银行卡</a></p>
                    </div>
                </div>
            </div>
        </div>
    #end



</div>