#set($layout = "/layout/default.vm")
#set($title = "实名认证 - 安全设置 - 学好贷")
#set($centerNav = "centerNav")
#set($menuTab = "safeConfig")
#set($lenderTab = "certify")
#set($vmHeader = "common")

<div class="container">
    <div class="wraper mrt60" style="min-height:500px;">
        <div class="reg_step reg_step1">

        </div>
        <div class="reg-box b0">
            <form id="identityForm" action="" method="post">
                <input type="hidden" name="token" value="$!token"/>
                <input type="hidden" name="flag" value="$!flag"/>
                <div class="reg  mrt40">
                    <div class="item">
                        <label for=""><span class="c2 f14">* </span>真实姓名</label>
                        <input type="text" name="real_name" id="real_name" />
                        <div class="t">请输入真实姓名！</div>
                    </div>
                    <div class="item">
                        <label for=""><span class="c2 f14">* </span>身份证号</label>
                        <input type="text" name="card_id" id="card_id"/>
                        <div class="t">请输入身份证号！</div>
                    </div>
                    <div class="item">
                        <label for=""></label>
                        <input type="button" class="find-regi" id="subtn" value="立即实名认证">
                    </div>
                    <span id="message_span" style="color:red;font-weight:normal;font-size:small;margin-left:150px" ></span>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(function() {
        $('#subtn').click(function () {
            $('#subtn').attr('disabled', 'disabled');
            $('#subtn').removeClass('find-regi');
            $('#subtn').addClass('find-regi-disabled');
            if(_check_card_id('card_id') && _check_realname('real_name')) {
                $.ajax({
                    type:"POST",
                    url:"/lender/certify_action.jhtml",
                    data:$('#identityForm').serialize(),
                    async:false,
                    dataType:"json",
                    success:function(data) {
                        if (data.code == 'S00000') {
                            location.href = data.data._redirect_url;
                        } else {
                            $("#message_span").html(data.message);
                            $('#subtn').removeAttr('disabled');
                            $('#subtn').removeClass('find-regi-disabled');
                            $('#subtn').addClass('find-regi');
                        }
                    },
                    error: function(e) {
                    }
                });
            }
        });

        $("#real_name").bind('focus', function() {
            $(this).siblings('.msg_box').css({
                'display' : "inline-block"
            });
        }).bind('blur', function() {
            _check_realname('real_name');
        });

        $("#card_id").bind('focus', function() {
            $(this).siblings('.msg_box').css({
                'display' : "inline-block"
            });
        }).bind('blur', function() {
            _check_card_id('card_id');
        });

        function _check_card_id(_id) {
            var card_id = $('#' + _id);
            var card_id_val = card_id.val();
            var card_id_len = _check_len(card_id_val);
            var reg = /(^\d{18}$)|(^\d{17}(\d|X|x)$)/
            if(card_id_val==""){
                _check_error(_id, '身份证号不能为空');
                return false;
            }else if (!(reg.test(card_id_val))) {
                _check_error(_id, '身份证号不正确');
                return false;
            }else{
                _check_right(_id,'');
                return true;
            }
        }

        function _check_realname(_id) {
            var realname = $('#' + _id);
            var _realname_val = realname.val();
            var realname_val = _realname_val.trim();
            var realname_len = _check_len(realname_val);
            if(realname_val==""){
                _check_error(_id, '姓名不能为空');
                return false;
            }else if (!(/^[\u4e00-\u9fa5]+$/.test(realname_val))) {
                _check_error(_id, '姓名只能是汉字');
                return false;
            }else{
                _check_right(_id,'');
                return true;
            }
        }

        function _check_right(_name,_content) {
            var __name = $('#' + _name);
            __name.parent().removeClass('error').addClass('right');
            __name.parent().find('.t').html(_content);

            return true;
        }

        function _check_error(_name, _content) {
            var __name = $('#' + _name);
            __name.parent().removeClass('right').addClass('error');
            __name.parent().find('.t').html(_content);

            return false;
        }

        function _check_len(s) {
            var l = 0;
            var a = s.split("");
            for (var i = 0; i < a.length; i++) {
                if (a[i].charCodeAt(0) < 299) {
                    l++;
                } else {
                    l += 2;
                }
            }
            return l;
        }
    })

</script>