#set($layout = "/layout/default.vm")
#set($title = "实名认证 - 安全设置 - 学好贷")
#set($centerNav = "centerNav")
#set($menuTab = "safeConfig")
#set($lenderTab = "certify")
#set($vmHeader = "common")

<div class="container">
    <div class="reg-box" style="text-align:center;">
        <div class="findpwd_suc mrt60">
            <em class="success"></em>
            <span class="suc_span c6">已通过认证！</span>
        </div>
        <div class="div_suc">
            <p style="text-align:left;"><label>真实姓名：*$!stringUtils.substring($!realName, 1)</label></p>
            <p><label>身份证号：$!cardId</label></p>
        </div>
    </div>
</div>