#set($layout = "/layout/default.vm")
#set($title = "交易密码修改 - 安全设置 - 学好贷")
#set($centerNav = "centerNav")
#set($menuTab = "safeConfig")
#set($lenderTab = "dealPassword")
#set($vmHeader = "common")

<div class="container">
    <div class="reg-box" style="text-align:center;">
        <div class="findpwd_suc">
            <em class="success"></em>
            <span class="suc_span c6">
                #if($!type == "add")
                    交易密码添加成功
                #elseif($!type == "update")
                    交易密码修改成功
                #end
            </span>
        </div>
        <div class="div_suc">
            <p>
                #if($!type == "add")
                    交易密码添加成功!
                #elseif($!type == "update")
                    交易密码修改成功!
                #end
                您可以去<a href="/lender/index.jhtml" class="c1">首页</a>看看，或者去<a href="/lender/recharge.jhtml">充值</a></p>
        </div>
    </div>
