#set($title = "账户总览 - 我的账户 - 学好贷")
#set($vmHeader = "common")
#set($centerNav = "centerNav")
#set($currentLocation = "index")
#set($menuTab = "lenderCenter")
#set($lenderTab = "index")

<div class="container">
    <div class="wraper">
        <div class="approve c9">
            <div class="fl">
                <span class="f18">您好，<span class="c6">$!loginUser.name</span></span>
                <a href="/lender/certify.jhtml" class="person"><em  #if($!isCertified) class="yes" title="实名已认证"  #else class="con" title="实名未认证" #end ></em></a>
                <a href="/lender/add_deal_password.jhtml" class="pwd"><em  #if($!isDealPassword) class="yes" title="交易密码已设置" #else class="con" title="交易密码未设置" #end></em></a>
                <a href="/lender/bank_card_list.jhtml" class="card"><em  #if($!isBankCardId) class="yes" title="银行卡已绑定" #else class="con" title="银行卡未绑定" #end></em></a>
                <span>上次登录时间：$dateFormatUtils.format($!loginUser.loginTime,"yyyy-MM-dd HH:mm:ss")</span>
            </div>
            <p>
                总收益<span class="c2">¥ $!account.totalInterest</span> = 累计已赚利息<span class="c2">¥ $!account.currentInterest</span> + 待收利息<span class="c2">¥ $!account.pendingEarn</span>
            </p>
        </div>
        <div class="account" >
            <div class="account_main c9">
                <div class="account_l m0" >
                    <div style="width:180px;margin:0 auto;">
                        <em class="con money_tu fl"></em>
                        <p class="f24 c2">$!account.balance</p>
                        <p class="f14">流动资金余额</p>
                    </div>

                </div>
                <div class="account_m">
                    <a href="/lender/recharge.jhtml?flag=bidding" class="account_c1">充值</a>
                    <a href="/lender/withdraw.jhtml" class="account_c2">提现</a>
                </div>
                <div class="account_r">
                    <div class="fl acccount_ice">
                        <em class="ice fl"></em>
                        <p class="f14 c2">￥$!account.balanceFrozen</p>
                        <p class="f14">冻结资金<em class="hint"></em></p>
                        <div class="prompt">
                            <em>
                                <span>因投标而暂时不能使用的金额，满标通过后将借出，进入持有中投资本金。</span>
                            </em>
                        </div>

                    </div>
                    <em class="line"></em>
                    <div class="acccount_ice">
                        <em class="hold fl"></em>
                        <span class="f14 c2">￥$!account.principal</span>
                        <p class="f14">持有中本金 <em class="hint1"></em></p>
                        <div class="prompt1">
                            <em>
                                <span>用户持有中投资项目的本金总额</span>
                            </em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="news fl">最近两笔待收</h2>
        <p class="p_span mrt20"><a href="/lender/bill_stage.jhtml" class="f12 c9">我的收款计划></a></p>
        <table cellspacing="0" cellpadding="0" class="table_w1100 f12 txt">
            <tr class="c9">
                <td>项目名</td>
                <td>第几期/总期数</td>
                <td>收款日</td>
                <td>应该金额</td>
                <td>本金</td>
                <td>利息</td>
            </tr>
            #foreach($bill in $billStages)
                <tr>
                    <td><a href="/bidding/detail.jhtml?bidding_id=$!bill.biddingId" class="under">${bill.studentName}_${bill.courseName}</a></td>
                    <td  style="text-align: center">$bill.stage/$bill.totalStage</td>
                    <td>$dateFormatUtils.format($bill.deadline,"yyyy-MM-dd")</td>
                    #set($balace = $!{bill.interest}  +  $!{bill.principal})
                    <td class="c2">￥$!moneyUtils.format($balace)  </td>
                    <td>￥$bill.principal</td>
                    <td>￥$bill.interest</td>
                </tr>
            #end
        </table>
    </div>
    <div class="wraper" >
        <h2 class="news fl">最近五笔交易</h2>
        <p class="p_span mrt20"><a href="/lender/flow_list.jhtml" class="f12 c9">我的交易记录></a></p>
        <table cellspacing="0" cellpadding="0" class="table_w1100 f12 txt">
            <tr class="c9">
                <td>交易时间</td>
                <td>交易类型</td>
                <td>流动资金收支</td>
                <td>交易状态</td>
                <td style="width:300px;">备注</td>
            </tr>

            #foreach($flow in $flows)

                <tr>
                    <td>$dateFormatUtils.format($flow.created,"yyyy-MM-dd HH:mm:ss")</td>
                    <td tyle="text-align: center">
                        #foreach($t in $flowTypeEnum)
                                    #if($t.code == $flow.type)
                            $t.meaning
                        #end
                                #end
                    </td>

                    #set($balance = $flow.balanceAfter -  $flow.balanceBefore)
                    <td>
                        #if($balance > 0)
                            +$!moneyUtils.format($balance)
                        #else
                            $!moneyUtils.format($balance)
                        #end
                    </td>
                    <td>
                        #foreach($e in $flowStatusEnum)
                            #if ($e.code == $flow.status)
                                $e.meaning
                            #end
                        #end
                    </td>
                    <td style="overflow: hidden;text-align: center;" title="$!flow.description"> $!flow.description </td>
                </tr>
            #end
        </table>
    </div>
</div>