#set($title = "充值 - 我的账户 - 学好贷")
#set($vmHeader = "common")
#set($centerNav = "centerNav")
#set($menuTab = "lenderCenter")
#set($lenderTab = "recharge")


<div class="container">
    <div class="reg-box" style="text-align:center;">
        <div class="findpwd_suc mrt60" id="r1">
            <em class="ongoing"></em>
            <span class="suc_span c6">充值处理中</span>
        </div>
        <div class="findpwd_suc mrt60" style="display: none;" id="r2">
            <em class="success"></em>
            <span class="suc_span c6">充值成功！</span>
        </div>
        <div class="findpwd_suc mrt60" style="display: none;" id="r3">
            <em class="fail"></em>
            <span class="suc_span c6" id="error">充值失败</span>
        </div>
        <div class="findpwd_suc mrt60" style="display: none;" id="r4">
            <em class="error"></em>
            <span class="suc_span c6">支付延迟，请留意温馨提示</span>
        </div>
        <div class="div_suc">
            <p style="text-align:left;">温馨提示：</p>
            <p style="text-align:left;">1.  充值成功后，余额变化在少数情况下可能有延迟（一般会在1分钟之内到账）<br>
                2.  如果充值成功后余额长时间不到账，请联系客服400-018-0670
            </p>
            <p>返回<a href="/lender/index.jhtml">我的账户</a></p>
        </div>
    </div>
</div>

<input type="hidden" id="order_id" value="$!orderId"/>
<input type="hidden" id="recharge_success" value="$!rechargeSuccess"/>
<input type="hidden" id="recharge_failure" value="$!rechargeFailure"/>
<input type="hidden" id="recharging" value="$!recharging"/>

<script>
    var timer;
    $(function() {
        $('#r2').hide();
        $('#r3').hide();
        $('#r4').hide();

        timer = setInterval("getFlowStatus()",1000);
    })

    var flag = false;
    function getFlowStatus() {

        $.ajax({
            type:'POST',
            url:'/lender/get_flow_status.jhtml',
            data:{order_id:$('#order_id').val()},
            dataType:'json',

            success:function(data) {
                var _data = data.data;
                var status = _data.status;
                if (status == $('#recharge_success').val()) {
                    clearInterval(timer);
                    $('#r1').hide();
                    $('#r2').show();
                    $('#r3').hide();
                    $('#r4').hide();
                    flag = true;
                } else if (status == $('#recharge_failure').val()) {
                    clearInterval(timer);
                    $('#r1').hide();
                    $('#r2').hide();
                    $('#r3').show();
                    $('#r4').hide();
                    var message = '充值失败';
                    if (_data.message) {
                        message = _data.message;
                    }
                    $('#error').html(message);

                    flag = true;
                } else {

                }
            },
            error:function(data) {

            }
        })
    }
    setTimeout(function(){
        clearInterval(timer);
        if (!flag) {
            $('#r1').hide();
            $('#r2').hide();
            $('#r3').hide();
            $('#r4').show();
        }
        //location.href = '/lender/index.jhtml';
    },12000)
</script>