#set($title = "注册 - 学好贷")
<div class="header">
<div class="wraper">
    <a href="/index.html"><h1>学好贷</h1></a>
    <span class="h-txt">登录</span>
</div>
</div>
<div class="container">
    <div class="reg-box">
        <div class="success_top">
            <div class="success_main">
                <div class="success_pic">
                    <em></em>
                    <span>注册成功！</span>
                </div>
                <div class="success_txt">
                    <div class="success_again">
                        <p>亲爱的<span>$!{user.name}</span>，恭喜您成功注册学好贷！</p>
                        <p>您已经绑定手机号<span>$!{user.phone}</span>，该号码将用于接收验证码和找回密码等操作。</p>
                        <p>为了提升您的账户安全等级以进行投资，请您立即进行实名认证。</p>
                        <a href="certify.jhtml"> <input type="button" value="立即进行实名认证" class="success_button"></a>
                    </div>

                </div>
                <div class="success_a ta">
                    <p><a href="/index.html">暂不认证，去首页看看</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
