#set($layout = "/layout/default.vm")
#set($title = "交易密码修改 - 安全设置 - 学好贷")
#set($centerNav = "centerNav")
#set($menuTab = "safeConfig")
#set($lenderTab = "dealPassword")
#set($vmHeader = "common")

<div class="container">
    <div class="wraper mrt60" style="min-height:500px;">
        <div class="reg-box b0">
            <form name="deal_password_form" method="post" action="" id="deal_password_form"  >
                <input type="hidden" name="token" value=$!{token}>
                <div class="reg  mrt40">
                    <div class="item">
                        <label for=""><span class="c2 f14">* </span>原密码</label>
                        <input type="password" placeholder="密码" id="old_password" name="old_password" class="fl"/>
                        <span class="msg_box warning"><em></em><i></i><font></font></span>
                        <div class="t">请输入密码！</div>
                    </div>
                    <div class="item" style="width:700px;">
                        <label for=""><span class="c2 f14">* </span>交易密码</label>
                        <input type="password" placeholder="密码" id="password" name="password1" class="fl"/>
                        <div style="height:32px;">
                            <div class="pw_strength">
                                <div class="pw_bar"></div>
                                <div class="pw_letter">
                                    <span class="tsl">弱</span>
                                    <span class="tsl">中</span>
                                    <span class="tsl">强</span>
                                </div>
                            </div>
                        </div>
                        <div class="t">请输入密码！</div>
                        <span class="msg_box warning"><em></em><i></i><font></font></span>
                    </div>

                    <div class="item">
                        <label for=""><span class="c2 f14">* </span>确认密码</label>
                        <input type="password" id="confirm_password" name="password2" />
                        <span class="msg_box warning"><em></em><i></i><font></font></span>
                        <div class="t">请输入确认密码！</div>
                    </div>
                    <div class="item">
                        <label for=""></label>
                        <input type="button" class="find-regi" id="update_deal_password_btn" value="确认">
                    </div>
                    <p class="find">忘记交易密码？立即<a href="/find_deal_password.jhtml">手机找回交易密码</a></p>
                    <span id="message_span" style="color:red;font-weight:normal;font-size:small;margin-left:110px" ></span>
                </div>

            </form>
        </div>
    </div>

</div>

<script type="text/javascript" src="/js/find_deal_password.js"></script>