#set($layout = "/layout/default.vm")
#set($title = "登录密码修改 - 我的账户 - 学好贷")
#set($centerNav = "centerNav")
#set($menuTab = "safeConfig")
#set($lenderTab = "updatePassword")
#set($vmHeader = "common")

<div class="container">
    <div class="reg-box" style="text-align:center;">
        <div class="findpwd_suc">
            <em class="success"></em>
            <span class="suc_span c6">
                密码修改成功
            </span>
        </div>
        <div class="div_suc">
            <p>密码修改成功!请<a href="/logout.jhtml" class="c1">重新登录</a></p>
        </div>
    </div>
