<?xml version="1.0" encoding="UTF-8"?>
<configuration status="info">

    <properties>
        <property name="log.path">/tmp/logs/summer-transport-netty</property>
    </properties>

    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <Filters>
                <ThresholdFilter level="DEBUG" onMatch="ACCEPT"
                                 onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss,SSS}] [%p] [%t] - %c{1.} - %m%n"/>
        </console>
    </appenders>

    <loggers>
        <root level="INFO">
            <appender-ref ref="Console"/>
        </root>
    </loggers>

</configuration>