#set($layout = "/layout/default.vm")
#set($title = "交易密码修改 - 安全设置 - 学好贷")
#set($centerNav = "centerNav")
#set($menuTab = "safeConfig")
#set($lenderTab = "dealPassword")
#set($vmHeader = "common")

<div class="container">
    <div class="reg-box">
        <form method="" action="" id="find_password_form">
            <input type="hidden" name="token" value="$!token"/>
            <div class="reg  mrt40">
                <div class="item">
                    <label for="">手机号码</label>
                    <input type="text" placeholder="请输入手机号码" id="phone" name="phone" />
                    <div class="t">请输入手机号码！</div>
                </div>
                <div class="item">
                    <label for="">身份证号</label>
                    <input type="text" placeholder="请输入身份证号" id="card_id" name="card_id" />
                    <div class="t">请输入身份证号！</div>
                </div>
                <div class="item clearfix">
                    <label for="">验证码</label>
                    <input type="text" placeholder="验证码" class="vc w140" id="validate_code" name="validate_code" /> <input type="button" name="" class="getcode" id="get_verty_btn" value="获取手机验证码" />
                    <div class="cl"></div>
                    <div class="other t" style="margin-left:110px;">请输入验证码！</div>
                </div>
                <div class="item">
                    <label for=""></label>
                    <input type="button" class="find-regi" id="find_password_submit" value="立即找回">
                </div>
                <span id="message_span" style="color:red;font-weight:normal;font-size:small;margin-left:110px;"></span>
            </div>
        </form>
    </div>
</div>

<script language="JavaScript" src="/js/find_deal_password.js"></script>

