#set($layout = "/layout/default.vm")
#set($title = "找回密码 - 学好贷")
<div class="header">
    <div class="wraper">
        <a href="/login.jhtml"><h1>学好贷</h1></a>
        <span class="h-txt">找回密码</span>
        <div class="steps">
            <em class="step step3"></em>
        </div>
    </div>
</div>

<div class="container">
    <div class="reg-box" style="text-align:center;">
        <div class="findpwd_suc">
            <em class="success"></em>
            <span class="suc_span c6">修改成功！</span>
        </div>
        <div class="div_suc">
            <p>密码修改成功！您可以<a href="/login.jhtml">重新登录</a>或去<a href="/index.jhtml" class="c1">首页</a>看看</p>
        </div>
    </div>