#set($layout = "/layout/default.vm")
#set($title = "交易密码修改 - 安全设置 - 学好贷")
#set($centerNav = "centerNav")
#set($menuTab = "safeConfig")
#set($lenderTab = "dealPassword")
#set($vmHeader = "common")

<div class="container">
    <div class="reg-box" style="text-align:center;">
        <div class="findpwd_suc">
            <em class="success"></em>
            <span class="suc_span c6">交易修改成功！</span>
        </div>
        <div class="div_suc">
            <p>交易密码修改成功！您可以去<a href="/lender/index.jhtml" class="c1">首页</a>看看</p>
        </div>
    </div>