#set($title = "学好贷 - 投资成长，收获未来")
#set($vmHeader = "common")
#set($tab = "index")

<div id="loopBannerSlider" class="banner">
    <div class="banner_list">
        <dl class="slides">
            <dd></dd>
            <dd></dd>
        </dl>
    </div>
    <div class="yield-box">
        <p class="f12 c1 txt">每一份投资都在帮助年轻人成长</p>
        <p class="f18 c1 yield"></p>
        #if(!$loginUser)
            <p><a href="register.jhtml" class="btn-reg btn">立即注册</a></p>
            <p class="lk-login txt">已有账户 <a href="/login.jhtml">立即登录</a></p>
        #else
            <p><a href="/lender/index.jhtml" class="btn-reg btn">进入我的账户</a></p>
        #end

    </div>
</div>

<div class="container">
    <div class="notice">
        <div class="wraper" >
            <div >
            <div id="notice">
                <ul id="wrapper" style="overflow:hidden;height:40px">
                    <li><a href="/misc/notice_detail.jhtml?notice_id=$!article.id">【公告】$!article.title <span>$!dateFormatUtils.format($!article.created,"yyyy-MM-dd")</span></a></li>
                </ul>
            </div>
            <div id=notice2></div>
            </div>
            <a href="/misc/notices.jhtml" class="f12 more">更多 ></a>
        </div>
    </div>
    <div class="section bg">
        <div class="wraper">
            <h2>投资精选</h2>
            <ul class="auslese">
            #foreach($bidding in $!biddingList)
                #set($left=$!bidding.required - $!bidding.obtained)
                #set($studentId=$bidding.studentId.toString())
                #set($index=$!useMap.get($studentId).indexOf('@')+1)
                #set($sex=$!basicMap.get($!studentId))
                <li>
                    <h3>$!{bidding.studentName}_$!bidding.courseName</h3>
                    <div class="t"><p class="c2"><span class="f40">$!bidding.rate</span>%</p>年化利率</div>
                    <div class="t tl"><p class="c6"><span class="f40">$!bidding.monthLimit</span>月</p>项目期限</div>
                    <div class="borrower-info">
                        <p class="c2"><b class="progress-bar"><em class="progress" style="width:$!bidding.process%; float:left"></em></b>$!bidding.process%</p>
                        <p>可投：￥$numberFormatUtils.format($!left,2)/总额：￥$!bidding.required</p>
                        <p>截止日期：$dateFormatUtils.format($!bidding.invalidDate,"yyyy-MM-dd HH:mm:ss")</p>
                        <p class="line1"></p>
                        <p class="c9">年龄：$!ageMap.get($studentId) #if($!sex == 0)<i class="icon gender-m"></i> #else<i class="icon gender-w"></i> #end
                        </p>
                        <p class="c9">预期岗位：$!titleMap.get($studentId)</p>
                        <p class="c9">预期月薪：$!salaryMap.get($studentId)元</p>
                    </div>
                    #if($!bidding.process == 100)
                            <a href="/bidding/detail.jhtml?bidding_id=$!bidding.id" class="btn">去看看</a>
                        #else
                            <a href="/bidding/detail.jhtml?bidding_id=$!bidding.id" class="btn">马上去投</a>
                    #end

                </li>
             #end
            </ul>
            <p class="more"><a href="/bidding/list.jhtml" class="f14">更多投资项目></a></p>
        </div>
    </div>
    <div class="section">
        <div class="wraper">
            <h2>每一份收益，都是有志青年对上进机会的回馈</h2>
            <div class="scene ani-1">
                <span class="arrow1"></span>
                <span class="arrow2"></span>
                <span class="arrow3"></span>
                <span class="arrow4"></span>
                <span class="arrow5"></span>
                <span class="arrow6"></span>
                <span class="arrow7"></span>
                <span class="arrow8"></span>
            </div>
        </div>
    </div>
    <div class="section bg">
        <div class="wraper">
            <h2>四重保障，本息100%安全</h2>
            <div class="scene ani-2">
                <ul>
                    <li><div class="ele-box e1"><span class="ele1"></span><span class="ele2"></span></div><h5>严格审核</h5><p>教育专家与金融精英联手风控</p></li>
                    <li><div class="ele-box e2"><span class="ele1"></span><span class="ele2"></span></div><h5>专款专用</h5><p>借款唯一用途是学费</p></li>
                    <li><div class="ele-box e3"><span class="ele1"></span><span class="ele2"></span></div><h5>合作机构保证金</h5><p>教育机构保证金及时垫付本息</p></li>
                    <li><div class="ele-box e4"><span class="ele1"></span><span class="ele2"></span></div><h5>平台风险准备金</h5><p>全面应对极端情况风险</p></li>
                </ul>
                <p class="more"><a href="/misc/guarantee.jhtml">安全保障详情></a></p>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="borrower-wraper">
            <h2>借款人故事</h2>
            <div class="borrower-list">
                <ul>
                    <li>
                        <div class="pic">
                            <img src="images/pic1.png" alt="" title="" /><em></em>
                            <p>姓名：<span>吴同学</span></p>
                            <p>岗位：<span>JAVA开发</span></p>
                            <p>学历：<span>本科</span></p>
                            <p>就业城市：<span>北京</span></p>
                            <p>就业后薪资：<span>9000元</span></p>
                        </div>
                        <div class="msg-box c9">
                            <p>“大学毕业后，半年没有找到合适的工作。通过助学贷款才获得了学习技术重新开始的机会。现在的我已经习惯充满压力的互联网行业，挑战无处不在，乐观与勤奋助我一路前行”</p>
                        </div>
                    </li>
                    <li>
                        <div class="pic">
                            <img src="images/pic3.png" alt="" title="" /><em></em>
                            <p>姓名：<span>陈同学</span></p>
                            <p>岗位：<span>ui设计</span></p>
                            <p>学历：<span>本科</span></p>
                            <p>就业城市：<span>北京</span></p>
                            <p>就业后薪资：<span>7000元</span></p>
                        </div>
                        <div class="msg-box c9">
                            <p>“从小就喜欢画画，后来上高中，学习紧就拉下了。大学学了个冷门专业，找工作困难。想着自己已经大学毕业了，不好意思问家里要钱，就通过助学贷款报了ui设计班。现在已经毕业，工资还款没有压力。靠自己挣钱真开心”</p>
                        </div>
                    </li>
                    <li>
                        <div class="pic">
                            <img src="images/pic2.png" alt="" title="" /><em></em>
                            <p>姓名：<span>谢同学</span></p>
                            <p>岗位：<span>php开发</span></p>
                            <p>学历：<span>本科</span></p>
                            <p>就业城市：<span>北京</span></p>
                            <p>就业后薪资：<span>7000元</span></p>
                        </div>
                        <div class="msg-box c9">
                            <p>“大学是学计算机的，没有好好学习，毕业后才知道社会的艰辛。痛定思痛，决定贷款再次回炉学习。现在正在学习中，上周和毕业的师兄聊，说到现在php工程师需求量大，让我对未来更加有信心”</p>
                        </div>
                    <li>
                        <div class="pic">
                            <img src="images/pic4.png" alt="" title="" /><em></em>
                            <p>姓名：<span>王同学</span></p>
                            <p>岗位：<span>JAVA开发</span></p>
                            <p>学历：<span>研究生</span></p>
                            <p>就业城市：<span>北京</span></p>
                            <p>就业后薪资：<span>6000元</span></p>
                        </div>
                        <div class="msg-box c9">
                            <p>“我在读研究生，本来手上有笔钱，可以交学费。最近谈女朋友了，大家都懂的。助学贷款真是帮了大忙。”</p>
                        </div>
                    </li>
                    </li>
                    <li>
                        <div class="pic">
                            <img src="images/pic5.png" alt="" title="" /><em></em>
                            <p>姓名：<span>赵同学</span></p>
                            <p>岗位：<span>IOS开发</span></p>
                            <p>学历：<span>大专</span></p>
                            <p>就业城市：<span>北京</span></p>
                            <p>就业后薪资：<span>6000元</span></p>
                        </div>
                        <div class="msg-box c9">
                            <p>“助学贷款帮我入学，开始学习ios开发。总算是结束了毕业后迷茫期，朝着新的目标出发，不管怎么样，我都会继续努力。”</p>
                        </div>
                    </li>
                    <li>
                        <div class="pic">
                            <img src="images/pic6.png" alt="" title="" /><em></em>
                            <p>姓名：<span>屈同学</span></p>
                            <p>岗位：<span>网络营销</span></p>
                            <p>学历：<span>大专</span></p>
                            <p>就业城市：<span>北京</span></p>
                            <p>就业后薪资：<span>3500元</span></p>
                        </div>
                        <div class="msg-box c9">
                            <p>“看了好多互联网名人的故事，想进入互联网行业，又不是学计算机的，所以选择了营销专业。现在正在学习中，感觉学到了不少东西。感谢助学贷款帮我迈出了梦想第一步。3500只是基本工资啦，我们还有绩效的。”</p>
                        </div>
                    </li>
                    <li>
                        <div class="pic">
                            <img src="images/pic7.png" alt="" title="" /><em></em>
                            <p>姓名：<span>赵同学</span></p>
                            <p>岗位：<span>android开发工程师</span></p>
                            <p>学历：<span>大专</span></p>
                            <p>就业城市：<span>天水</span></p>
                            <p>就业后薪资：<span>6000元</span></p>
                        </div>
                        <div class="msg-box c9">
                            <p>“家里经济条件不怎么好，大学也不太好，但是自己一直不甘心，想再闯一闯。真的非常感谢助学贷款给了我这次机会。小地方人才缺，还没有毕业就已经有单位找我了，我一定不辜负大家的帮助，努力学习”</p>
                        </div>
                    </li>
                    <li>
                        <div class="pic">
                            <img src="images/pic8.png" alt="" title="" /><em></em>
                            <p>姓名：<span>何同学</span></p>
                            <p>岗位：<span>JAVA开发</span></p>
                            <p>学历：<span>本科</span></p>
                            <p>就业城市：<span>北京</span></p>
                            <p>就业后薪资：<span>16000元</span></p>
                        </div>
                        <div class="msg-box c9">
                            <p>“本科学的是通信工程，毕业后也是做开发工作，但是没有系统学习开发相关知识，实际工作中遇到不少问题。贷款参加了java培训，对我帮助很大，毕业再找工资提高了40%”</p>
                        </div>
                    </li>
                    <li>
                        <div class="pic">
                            <img src="images/pic9.png" alt="" title="" /><em></em>
                            <p>姓名：<span>董同学</span></p>
                            <p>岗位：<span>PHP开发</span></p>
                            <p>学历：<span>本科</span></p>
                            <p>就业城市：<span>北京</span></p>
                            <p>就业后薪资：<span>15000元</span></p>
                        </div>
                        <div class="msg-box c9">
                            <p>“想去百度这样的大公司，但是面试总是被拒，原因在于对代码背后的逻辑缺乏思考。贷款报了培训班，经过六个月的学习，现在如愿的进入百度” </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section bg">
        <div class="wraper">
            <h2>合作伙伴</h2>
            <p class="partner-box">
                <img src="images/partner_logo.jpg" alt="" title="" />
                <img src="images/partner1_logo.jpg" alt="" title="" />
                <img src="images/partner2_logo.jpg" alt="" title="" />
                <img src="images/partner3_logo.jpg" alt="" title="" />
                <img src="images/partner4_logo.jpg" alt="" title="" />
                <img src="images/partner5_logo.jpg" alt="" title="" />
                <img src="images/partner6_logo.jpg" alt="" title="" />
                <img src="images/partner7_logo.jpg" alt="" title="" />
                <img src="images/partner8_logo.jpg" alt="" title="" />
                <img src="images/partner9_logo.jpg" alt="" title="" />
            </p>
        </div>
    </div>
</div>

##<script type="text/javascript">
##
##    function ScrollText(content){
##        this.Delay=30;
##        this.Amount=1;
##        this.Direction="up";
##        this.Timeout=1000;
##        this.ScrollContent=this.gid(content);
##        this.ScrollContent.innerHTML += this.ScrollContent.innerHTML;
##        this.ScrollContent.onmouseover = this.GetFunction(this,"Stop");
##        this.ScrollContent.onmouseout = this.GetFunction(this,"Start");
##    }
##    ScrollText.prototype.gid=function(element){
##        return document.getElementById(element);
##    }
##    ScrollText.prototype.Stop=function(){
##        clearTimeout(this.AutoScrollTimer);
##        clearTimeout(this.ScrollTimer);
##    }
##    ScrollText.prototype.Start=function(){
##        clearTimeout(this.AutoScrollTimer);
##        this.AutoScrollTimer=setTimeout(this.GetFunction(this,"AutoScroll"),this.Timeout);
##    }
##    ScrollText.prototype.AutoScroll=function(){
##        if(this.Direction=="up"){
##            if(parseInt(this.ScrollContent.scrollTop)>=parseInt(this.ScrollContent.scrollHeight)/2){
##                this.ScrollContent.scrollTop=0;
##                clearTimeout(this.AutoScrollTimer);
##                this.AutoScrollTimer = setTimeout(this.GetFunction(this,"AutoScroll"), this.Timeout);
##                return;
##            }
##            this.ScrollContent.scrollTop += this.Amount;
##        }else
##        {
##            if(parseInt(this.ScrollContent.scrollTop) <= 0)
##            {
##                this.ScrollContent.scrollTop = parseInt(this.ScrollContent.scrollHeight) / 2;
##            }
##            this.ScrollContent.scrollTop -= this.Amount;
##        }
##        if(parseInt(this.ScrollContent.scrollTop) % this.LineHeight != 0)
##        {
##            this.ScrollTimer = setTimeout(this.GetFunction(this,"AutoScroll"), this.Delay);
##        }
##        else
##        {
##            this.AutoScrollTimer = setTimeout(this.GetFunction(this,"AutoScroll"), this.Timeout);
##        }
##    }
##    ScrollText.prototype.GetFunction=function(variable,method){
##        return function()
##        {
##            variable[method]();
##        }
##    }
##
##
##</script>
##
##<script>
##    var scrollup = new ScrollText("wrapper");
##    scrollup.Start();
##</script>
