<div class="loginbox bd">
    <div class="login-pic"></div>
    <div class="login">
        <div >

            <div id="login_Message"  style="color: #6B6B6B;border: 2px solid #FF8080;line-height: 18px;padding: 2px 10px 2px 2px;display:none">
                <img src="/images/warning.png" style="display:inline" width="15px" height="13px"/> <p id="mind_tip" style="display: inline">用户名、密码、验证码不能为空</p>
            </div>

            <div class="item ">
                <input type="text"  class="text" name="username" id="username"  placeholder="用户名/手机号" />
                <div class="i-name ico"></div>
                <div class="message"></div>
            </div>
            <div class="item">
                <input type="password"  class="text" name="password" id="password" placeholder="密码"/>
                <div class="i-pwd ico"></div>
                <div class="message"></div>
            </div>
            <div class="item">
                <input type="text"  class="text" name="validate_code" id="validate_code" placeholder="验证码" style="width:130px;" maxlength="4"/>
                <div class="i-pwd ico"></div>
                <img  style="cursor:pointer;vertical-align:middle; margin-left:5px;width:84px" src="/get_validate_code.jhtml" alt="点击刷新" onclick="changeValidateCode(this)" id="valicode" >
                <div class="message" style="width:180px;"></div>

            </div>
            <div class="txt"><a href="/find_password.jhtml">忘记密码</a></div>
            <div class="btn">
                <input type="button" value="登录" id="login_btn" class="btn-login"/>
            </div>
        </div>
        <div class="reg">
            没有帐号?  <a href="register.jhtml">免费注册</a>
        </div>
    </div>
</div>