#set($layout = "/layout/default.vm")
#set($title = "交易密码修改 - 安全设置 - 学好贷")
#set($centerNav = "centerNav")
#set($menuTab = "safeConfig")
#set($lenderTab = "dealPassword")
#set($vmHeader = "common")

<div class="container">
    <div class="reg-box">
        <form method="post" action="/reset_password_action.jhtml" id="reset_password_form">
            <input type="hidden" name="token" value="$!token"/>
            <input type="hidden" name="phone" value="$!phone"/>
            <div class="reg  mrt40">
                <div class="item">
                    <label for="">重置密码</label>
                    <input type="password" placeholder="密码" id="password" name="password1" />
                    <span class="msg_box warning"><font></font></span>
                    <div class="t">请输入密码！</div>
                    <!--<div class="pw_strength">
                        <div class="pw_bar"></div>
                        <div class="pw_letter">
                            <span class="tsl">弱</span>
                            <span class="tsl">中</span>
                            <span class="tsl">强</span>
                        </div>
                    </div>-->
                </div>
                <div class="item">
                    <label for="">再次输入</label>
                    <input type="password" placeholder="密码" id="comfirm_password" name="password2" />
                    <span class="msg_box warning"><font></font></span>
                    <div class="t">请输入密码！</div>
                </div>
                <div class="item">
                    <label for=""></label>
                    <input type="button" class="find-regi" id="reset_password_btn" value="确认">
                </div>
                <span id="message_span" style="color:red;font-weight:normal;font-size:small;margin-left:110px;"></span>
            </div>
        </form>
    </div>
</div>
<script language="JavaScript" src="/js/find_deal_password.js"></script>