<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
	default-autowire="byName">

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:dbcp-config.properties" />
	</bean>

	<bean id="dataSource1" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="${bjxizhan.jdbc.mysql.url}?useUnicode=true&amp;characterEncoding=UTF-8&amp;autoReconnect=true"></property>
		<property name="username" value="${bjxizhan.jdbc.mysql.username}"></property>
		<property name="password" value="${bjxizhan.jdbc.mysql.password}"></property>
		<property name="maxActive" value="${dbcp.maxActive}"></property>
		<property name="maxIdle" value="${dbcp.maxIdle}"></property>
		<property name="minIdle" value="${dbcp.minIdle}"></property>
		<property name="maxWait" value="${dbcp.maxWait}"></property>
		<property name="defaultAutoCommit" value="${dbcp.defaultAutoCommit}"></property>
		<property name="timeBetweenEvictionRunsMillis" value="${dbcp.timeBetweenEvictionRunsMillis}"></property>
		<property name="minEvictableIdleTimeMillis" value="${dbcp.minEvictableIdleTimeMillis}"></property>
	</bean>

	<bean id="dataSource2" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="${bjxizhan.jdbc.mysql.url}?useUnicode=true&amp;characterEncoding=UTF-8&amp;autoReconnect=true"></property>
		<property name="username" value="${bjxizhan.jdbc.mysql.username}"></property>
		<property name="password" value="${bjxizhan.jdbc.mysql.password}"></property>
		<property name="maxActive" value="${dbcp.maxActive}"></property>
		<property name="maxIdle" value="${dbcp.maxIdle}"></property>
		<property name="minIdle" value="${dbcp.minIdle}"></property>
		<property name="maxWait" value="${dbcp.maxWait}"></property>
		<property name="defaultAutoCommit" value="${dbcp.defaultAutoCommit}"></property>
		<property name="timeBetweenEvictionRunsMillis" value="${dbcp.timeBetweenEvictionRunsMillis}"></property>
		<property name="minEvictableIdleTimeMillis" value="${dbcp.minEvictableIdleTimeMillis}"></property>
	</bean>

	<bean id="dynamicDataSource" class="com.itlong.bjxizhan.support.web.service.dbrouter.DynamicDataSource">
		<property name="targetDataSources">
			<map key-type="java.lang.String">
				<entry key="db1" value-ref="dataSource1"/>
				<entry key="db2" value-ref="dataSource2"/>
			</map>
		</property>
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dynamicDataSource" />
		<property name="configLocation" value="classpath:sqlmap-config.xml"></property>
		<!-- <property name="dataSource" ref="dataSource" /> -->
	</bean>
	<bean name="jdbcTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		 <property name="dataSource" ref="dynamicDataSource"/>
	</bean>

    <bean name="transactionTemplate" class="org.springframework.transaction.support.TransactionTemplate">
        <property name="transactionManager" ref="jdbcTransactionManager" />
        <property name="isolationLevelName" value="ISOLATION_READ_COMMITTED"/>
        <property name="timeout" value="30"/>
    </bean>

	<!-- core api -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>
</beans>