<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	                    http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.2.xsd"
	default-autowire="byName">

    <context:component-scan base-package="org.hongxi.whatsmars.earth.service"/>

    <!--<bean id="systemConfig" class="SystemConfig">
        <property name="cookieSecurityKey" value="${whatsmars.lender.cookie.security.key}"/>
        <property name="cookieDomain" value="${whatsmars.lender.cookie.domain}"/>
        <property name="cookieKey" value="${whatsmars.lender.cookie.key}"/>
        <property name="hostName" value="${whatsmars.lender.host.name}"/>
        <property name="imageHostName" value="${whatsmars.image.host.name}"/>
        <property name="envRecharge" value="${whatsmars.yeepay.env.recharge}" />
    </bean>

    <bean id="mongodbProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath:mongodb-config.properties</value>
            </list>
        </property>
    </bean>

    <bean id="mongodbDriver" class="MongoDBDriver" init-method="init" destroy-method="close">
        <property name="properties" ref="mongodbProperties"/>
        <property name="configuration">
            <bean class="MongoDBConfig">
                <property name="addresses" value="${whatsmars.mongodb.common.addresses}"/>
                <property name="credentials">
                    <list>
                        <bean class="MongoDBCredential">
                            <property name="databaseName" value="${whatsmars.mongodb.common.dbname}"/>
                            <property name="username" value="${whatsmars.mongodb.common.username}"/>
                            <property name="password" value="${whatsmars.mongodb.common.password}"/>
                        </bean>
                    </list>
                </property>

            </bean>

        </property>
    </bean>

    <bean id="mongoClient" class="MongoDBClient">
        <property name="mongoDBDriver" ref="mongodbDriver"/>
        <property name="databaseName" value="${whatsmars.mongodb.common.dbname}"/>
    </bean>-->


</beans>