<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
	default-autowire="byName">

	<bean id="accountDao" class="org.hongxi.whatsmars.earth.dao.impl.AccountDaoImpl" />
	<bean id="organizationDao" class="org.hongxi.whatsmars.earth.dao.impl.OrganizationDaoImpl" />
	<bean id="userDao" class="org.hongxi.whatsmars.earth.dao.impl.UserDaoImpl" />
</beans>