<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %c -%-4r [%t] %-5p %x - %m%n" />
		</layout>

		<!--限制输出级别 -->
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="${user.home}" />
		</filter>
	</appender>

	<appender name="FILE-ALL" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${user.home}/fs-web/fs-web-all.log" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %c -%-4r [%t] %-5p %x - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="${user.home}" />
		</filter>
	</appender>

	<appender name="FILE-ERROR" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${user.home}/fs-web/fs-web-error.log" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %c -%-4r [%t] %-5p %x - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
		</filter>
	</appender>

	<category name="org.apache.velocity" additivity="false">
		<priority value="${user.home}" />
		<appender-ref ref="FILE-ERROR" />
		<appender-ref ref="FILE-ALL" />
	</category>
	
    <root>
        <priority value="${log4j.logger.level}"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE-ERROR"/>
        <appender-ref ref="FILE-ALL"/>
    </root>


</log4j:configuration>