<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	    http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	    http://www.springframework.org/schema/context
	    http://www.springframework.org/schema/context/spring-context-3.2.xsd"
    default-autowire="byName">

    <context:component-scan base-package="org.hongxi.whatsmars.fs.web.service" />

    <bean id="mongodbProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath:mongodb-config.properties</value>
            </list>
        </property>
    </bean>

    <bean id="mongodbDriver" class="org.hongxi.whatsmars.common.mongo.object.MongoDBDriver" init-method="init" destroy-method="close">
        <property name="properties" ref="mongodbProperties"/>
        <property name="configuration">
            <bean class="org.hongxi.whatsmars.common.mongo.object.MongoDBConfig">
                <property name="addresses" value="${whatsmars.mongodb.filesystem.addresses}"/>
                <property name="credentials">
                    <list>
                        <bean class="org.hongxi.whatsmars.common.mongo.object.MongoDBCredential">
                            <property name="databaseName" value="${whatsmars.mongodb.filesystem.dbname}"/>
                            <property name="username" value="${whatsmars.mongodb.filesystem.username}"/>
                            <property name="password" value="${whatsmars.mongodb.filesystem.password}"/>
                        </bean>
                    </list>
                </property>

            </bean>

        </property>
    </bean>

    <bean id="gridFSClient" class="org.hongxi.whatsmars.common.mongo.GridFSClient">
        <property name="mongoDBDriver" ref="mongodbDriver"/>
        <property name="databaseName" value="${whatsmars.mongodb.admin.dbname}"/>
    </bean>

</beans>