<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
       default-autowire="byName">

    <!-- 非cluster机制 -->
    <bean id="quartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobFactory">
            <bean class="org.springframework.scheduling.quartz.SpringBeanJobFactory"/>
        </property>
        <property name="triggers">
            <list>
                <ref bean="lenderWithdrawTrigger" />

            </list>
        </property>
        <property name="autoStartup" value="true"/>
    </bean>


    <!-- 投资人提现trigger -->
    <bean id="lenderWithdrawTrigger"  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="cronExpression" value="0 0/15 * * * ?" />
        <property name="jobDetail" ref="lenderWithdrawJobDetail" />
    </bean>
    <bean id="lenderWithdrawJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="lenderWithdrawJob"/>
        <property name="targetMethod" value="execute"/>
        <property name="concurrent" value="false"/>
    </bean>
    <bean id="lenderWithdrawJob" class="com.whatsmars.earth.support.web.service.job.TestJob" />


</beans>