#macro(pagination $targetUrl $queryResult)
<div>
    总条数:${queryResult.amount}&nbsp;&nbsp;
    #if($query.currentPage > 1)
        #set($previousPage = $query.currentPage - 1)
        #if($targetUrl.indexOf("?") > 0)
            <a href="${targetUrl}&page=${previousPage}">上一页</a>
        #else
            <a href="${targetUrl}?page=${previousPage}">上一页</a>
        #end
    #else
        <a href="#" style="pointer-events: none;color: #afafaf;cursor: default;">上一页</a>
    #end
    &nbsp;&nbsp;
    #foreach($!pageNumber in $queryResult.pageNumbers())
        <a href="${targetUrl}&page=${pageNumber}">$pageNumber</a>
    #end&nbsp;&nbsp;
    #if($queryResult.totalPage > $query.currentPage)
        #set($nextPage = $query.currentPage + 1)
        #if($targetUrl.indexOf("?") > 0)
            <a href="${targetUrl}&page=${nextPage}">下一页</a>
        #else
            <a href="${targetUrl}?page=${nextPage}">下一页</a>
        #end
    #else
        <a href="#" style="pointer-events: none;color: #afafaf;cursor: default;">下一页</a>
    #end&nbsp;&nbsp;
    共$!{queryResult.totalPage}页,当前页:$!{query.currentPage},
    <span>到第<input type="text" id="gotoPage" style="width: 28px;margin-right: 0px;" value="$!{query.currentPage}"/>页</span>
    #if($targetUrl.indexOf("?") > 0)
        <a href="#" id="gotoLink"><input type="button" value="确定" onclick="gotoPage(0)" style="cursor: pointer;"/></a>
    #else
        <a href="#" id="gotoLink"><input type="button" value="确定" onclick="gotoPage(1)" style="cursor: pointer;"/></a>
    #end
</div>
<script>
    /**
     * 正则表达式：验证非零的正整数
     * @type {RegExp}
     */
    var reg = new RegExp("^[1-9][0-9]*$");
    function validateGotoPage(gotoPage){
        if(!reg.test(gotoPage) || parseInt(gotoPage) > $!{queryResult.totalPage}){
            return false;
        }
        return true;
    }
    function gotoPage(type){
        var gotoPage = $("#gotoPage").val();
        if(validateGotoPage(gotoPage)){
            if(type == 0){
                $('#gotoLink').attr('href',"${targetUrl}&page="+gotoPage);
            } else {
                $('#gotoLink').attr('href',"${targetUrl}?page="+gotoPage);
            }
        } else {
            $("#gotoPage").focus();
            $("#gotoPage").select();
        }
    }
</script>
#end