spring:
  dubbo:
    application:
      name: demo-provider
    registry:
      address: zookeeper://127.0.0.1:2181
    protocol:
      name: dubbo
      port: 20881
    scan: com.whatsmars.dubbo.demo.provider.resource